<%- include("partials/sidebar.ejs"); %>
<div class="container-fluid vw-100 ps-5 pt-1">
  <div class="top-bar position-relative">
    <!-- profile -->
    <div class="position-absolute top-0 end-0 p-3 pe-1">
      <div class="card d-flex flex-sm-row align-items-center p-2 shadow" style="border-radius: 8px">
        <i class="fa fa-user-circle fa-2x" aria-hidden="true"></i>
        <div class="ps-2 d-flex flex-sm-column">
          <p class="h6 mb-0">John Doe</p>
          <p class="h6 mb-0" style="font-weight: 75">Quận 6</p>
        </div>
      </div>
    </div>
  </div>
  <div class="main-container">
    <div class="d-inline-block">
      <h1 class="header-1">QUẢN LÝ BÁO CÁO VI PHẠM</h1>
    </div>
    <!-- Check box -->
    <div class="container-fluid checkbox-container">
      <div class="d-inline-block pb-2" style="padding-left: 15px">
        <h1 style="color: #1f274a; font-size: 22px; font-weight: 500">QUẬN 6</h1>
      </div>
      <div class="container-fluid d-flex flex-wrap">
        <% for (let i = 1; i <= 15; i++) { %>
        <div class="form-check me-4 mb-2">
          <input
            type="checkbox"
            class="form-check-input"
            id="check<%= i %>"
            name="option<%= i %>"
            value="something"
            checked />
          <label class="form-check-label" for="check<%= i %>">Phường <%= i %></label>
        </div>
        <% } %>
      </div>
    </div>
    <!-- Dropdown menu / Filter -->
    <div class="d-block mt-3">
      <div class="filter d-flex flex-row align-items-center">
        <label for="doituong" style="font-size: 18px; padding-right: 10px">Đối tượng: </label>
        <div class="dropdown d-inline-block pe-5" id="doituong">
          <a
            class="btn btn-secondary dropdown-toggle"
            href="#"
            role="button"
            id="dropdownMenuLink"
            data-bs-toggle="dropdown"
            aria-expanded="false">
            Đối tượng
          </a>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </div>

        <label for="trangthai" style="font-size: 18px; padding-right: 10px">Trạng thái: </label>
        <div class="dropdown d-inline-block" id="trangthai">
          <a
            class="btn btn-secondary dropdown-toggle"
            href="#"
            role="button"
            id="dropdownMenuLink"
            data-bs-toggle="dropdown"
            aria-expanded="false">
            Trạng thái
          </a>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </div>
      </div>
    </div>
    <!-- Table -->
    <div class="container-fluid mt-4 ps-0">
      <table id="data-table" class="table table-hover table-responsive" style="width: 100%">
        <thead id="table-header">
          <tr>
            <th>ID Báo cáo</th>
            <th>Phường</th>
            <th>ID Điểm đặt/Bảng QC</th>
            <th>Loại hình báo cáo</th>
            <th>Họ tên người gửi</th>
            <th>Email</th>
            <th>Thời điểm gửi</th>
            <th>Trạng thái</th>
            <th>Xem chi tiết</th>
          </tr>
        </thead>
        <tbody>
          <% for (let i = 1; i <= 55; i++) { %>
          <tr>
            <td>BC0155001</td>
            <td><%= i %></td>
            <td>QC0614001</td>
            <td>Lorem ipsum dolor sit amet.</td>
            <td>Lorem ipsum dolor.</td>
            <td>Lorem ipsum dolor sit.</td>
            <td>25/12/2023</td>
            <td>
              <% let x = "Processing"; %> <% if (i % 3 === 1) { %>
              <div class="d-inline-block p-1" style="background-color: #ff3838; border-radius: 8px; min-width: 5rem">
                Chưa xử lý
              </div>
              <% } else if (i % 3 === 2) { %>
              <div class="d-inline-block p-1" style="background-color: #58f; border-radius: 8px; min-width: 5rem">
                Đang xử lý
              </div>
              <% } else { %>
              <div class="d-inline-block p-1" style="background-color: #41ff54; border-radius: 8px; min-width: 5rem">
                Đã xử lý
              </div>
              <% }%>
            </td>
            <td>
              <div class="d-flex flex-row align-items-center justify-content-center">
                <!-- <a href="#">
                  <i class="fa fa-pencil fa-1x ms-2" aria-hidden="true"></i>
                </a>
                <a href="#">
                  <i class="fa fa-trash fa-1x ms-2" aria-hidden="true"></i>
                </a> -->
                <a href="#">
                  <i class="fa fa-info fa-1x ms-2" aria-hidden="true"></i>
                </a>
              </div>
            </td>
          </tr>
          <% } %>
        </tbody>
      </table>
    </div>
  </div>
</div>
