<!DOCTYPE html>
<html lang="vi">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%- title %></title>
    <%- include("../partials/head.ejs"); %>
  </head>
  <body>
    <% const toolbars = [
      { icon: 'bi bi-house-door-fill', name: 'Trang chủ', link:'/so', },
      { icon: 'bi bi-building-fill', name: 'Danh sách quận huyện', link: '/so/qlquan' || '/so/htbc'},
      { icon: 'bi bi-badge-ad-fill', name: 'Loại hình quảng cáo', link: '/so/lhqc', },
      { icon: 'bi bi-chat-left-dots-fill', name: 'Yêu cầu', link: '/so/yeucau', },
      { icon: 'bi bi-journal-bookmark-fill', name: 'Thống kê báo cáo', link: '/so/baocao', },
      { icon: 'bi bi-person-badge', name:'Phân công', link: '/so/phancong', }, ] %>
    <header></header>
    <main class="container-fluid d-flex bg-light">
      <div class="row"><%- include("../partials/sidebar.ejs", {toolbars: toolbars}); %></div>
      <div class="container-fluid vw-100 pt-1">
        <div class="container border border-dark rounded py-4 px-5 my-5 mx-auto shadow position-relative">
          <!-- Profile -->
          <%- include("../partials/profile_card.ejs", {user: {name: 'Admin', level: 'Sở VH-TT'}}); %>
          <!-- Title -->
          <div class="d-block">
            <h1 class="fw-bolder">QUẢN LÝ YÊU CẦU CẤP PHÉP</h1>
          </div>
          <!-- Select -->
          <div class="container-fluid mt-3 ps-0">
            <div class="d-flex flex-row align-items-center gap-2" style="position: relative">
              <div class="dropdown h-100">
                <a
                  class="btn dropdown-toggle py-0 h-100"
                  href="#"
                  role="button"
                  id="dropdownMenuLink"
                  data-bs-toggle="dropdown"
                  aria-expanded="true"
                  style="line-height: 3.9rem">
                  Yêu cầu cấp phép
                </a>
                <ul
                  class="dropdown-menu dropdown-menu-start"
                  aria-labelledby="dropdownMenuLink"
                  style="line-height: 45px">
                  <li><a class="dropdown-item" href="/so/yeucau/cp">Yêu cầu cấp phép</a></li>
                  <li><a class="dropdown-item" href="/so/yeucau/cs">Yêu cầu chỉnh sửa</a></li>
                </ul>
              </div>

              <div
                class="card align-top h-auto rounded border-dark p-1 ms-1"
                style="min-width: fit-content; background-color: #f7fafc">
                <p class="lh-base text-start m-0">Đã duyệt</p>
                <p class="fw-bolder text-end fs-5 lh-base my-0 ms-5" style="color: #00b285">112,983 đơn</p>
              </div>

              <div
                class="card align-top h-auto rounded border-dark p-1 ms-1"
                style="min-width: fit-content; background-color: #f7fafc">
                <p class="lh-base text-start m-0">Chờ duyệt</p>
                <p class="fw-bolder text-end fs-5 lh-base my-0 ms-5" style="color: #d59633">112,983 đơn</p>
              </div>

              <div
                class="card align-top h-auto rounded border-dark p-1 ms-1"
                style="min-width: fit-content; background-color: #f7fafc">
                <p class="lh-base text-start m-0">Từ chối</p>
                <p class="fw-bolder text-end fs-5 lh-base my-0 ms-5" style="color: #e84747">112,983 đơn</p>
              </div>
            </div>
          </div>
          <!-- Table -->
          <table data-toggle="table" data-pagination="true" data-search="true" data-pagination="true"
            data-page-list="[10, 25, 50, 100, all]" data-locale="vi-VN" data-buttons-class="primary" data-show-button-text="true"
            data-icon-prefix="bi" class="table table-bordered table-hover table-striped table-responsive-md rounded"
            smart-display>
            <thead>
              <tr class="row m-0">
                <th class="col-1" data-sortable="true" data-align="center" data-field="id1">ID Yêu cầu</th>
                <th class="col-1" data-sortable="true" data-align="center" data-field="id2">ID Điểm đặt</th>
                <th class="col-1" data-sortable="true" data-field="type">Phường</th>
                <th class="col-1" data-sortable="true" data-align="center" data-field="name">Quận</th>
                <th class="col-2" data-sortable="true" data-align="center" data-field="email">Cán bộ</th>
                <th class="col-2" data-sortable="true" data-align="center" data-field="date">Thời gian quảng cáo</th>
                <th class="col-2" data-sortable="true" data-align="center" data-field="action">Trạng thái</th>
                <th class="col-2" data-sortable="true" data-align="center" data-field="detail">Hành động</th>
              </tr>
            </thead>
            <tbody>
              <% let maLoai="L00" %>
                <% for (let i=1; i <=55; i++) { %>
                  <tr class="row m-0">
                    <!-- <td><%= i %></td> -->
                    <td>BC0155001</td>
                    <td>D0614003</td>
                    <td>Bến Nghé</td>
                    <td>6</td>
                    <td>Trần Gia Thịnh</td>
                    <td>10/02/2023 - 15/05/2023</td>
                    <td>Đã duyệt</td>
                    <td>
                      <div class="d-flex flex-row align-items-center justify-content-center">
          
                        <!-- Button trigger modal edit -->
                        <!-- <a href="" data-bs-toggle="modal" data-bs-target="#editModal-lhqc<%= i %>">
                            <img src="/images/edit.svg" alt="edit-icon" style="background-color: transparent;">
                          </a> -->
          
                        <!-- Button trigger modal edit -->
                        <a href="/so/yeucau/chitiet" class="mx-3">
                          <img src="/images/edit.svg" alt="edit-icon" style="background-color: transparent;">
                        </a>
          
                        <a href="#" class="mx-3">
                          <img src="/images/remove.svg" alt="edit-icon" style="background-color: transparent;">
                        </a>
                      </div>
                    </td>
                  </tr>
                  <% } %>
            </tbody>
          </table>
          <!-- Modal add -->
          <div class="modal fade" id="addModal-lhqc" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header pb-3" style="border: none">
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body pt-1 pb-2" style="border: none">
                  <h5 class="modal-title pb-2" style="font-size: 22px; font-weight: 700; text-align: center">
                    THÊM HÌNH THỨC BÁO CÁO
                  </h5>
                  <form>
                    <!-- <div class="mb-3">
                    <label for="maloai-htbc" class="col-form-label mb-1"
                      >Mã hình thức:<span class="text-danger">*</span></label
                    >
                    <input type="text" class="form-control" id="maloai-htbc" required />
                  </div> -->
                    <div class="mb-3">
                      <label for="loai-htbc" class="col-form-label mb-1"
                        >Hình thức:<span class="text-danger">*</span></label
                      >
                      <input type="text" class="form-control" id="loai-htbc" required />
                    </div>
                    <div class="mb-3">
                      <label for="mota-htbc" class="col-form-label mb-1"
                        >Mô tả:<span class="text-danger">*</span></label
                      >
                      <textarea class="form-control" id="mota-htbc" required></textarea>
                    </div>
                  </form>
                </div>
                <div
                  class="modal-footer pt-1 d-flex justify-content-around"
                  style="border: none; background-color: #f7fafc">
                  <!-- <button
                  type="button"
                  class="btn"
                  data-bs-dismiss="modal"
                  style="min-width: 6.5rem; background-color: #e84747; color: #f7fafc">
                  Hủy
                </button> -->
                  <button
                    type="button"
                    class="btn"
                    style="min-width: 6.5rem; background-color: #3c77ff; color: #f7fafc">
                    Thêm
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
