<!DOCTYPE html>
<html lang="vi">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%- title %></title>
    <%- include("../partials/head.ejs"); %>
    <link rel="stylesheet" href="/css/carousel.css" />
  </head>

  <body>
    <header></header>
    <main class="container-fluid d-flex bg-light">
      <div class="row"><%- include("../../partials/sidebar.ejs", {toolbars: toolbars}); %></div>
      <div class="container-fluid vw-100 pt-1">
        <div class="container border border-dark rounded py-4 px-5 my-5 mx-auto shadow position-relative">
          <!-- Profile -->
          <%- include("../../partials/profile_card.ejs", {user: {name: 'John Doe' , level: 'Quận 1' }}); %>
          <!-- Back button -->
          <%- include("../../partials/back_button.ejs"); %>
          <!-- Title -->
          <div class="d-flex flex-row align-items-center" style="gap: 10px">
            <h1 class="fw-bolder m-0">CHI TIẾT YÊU CẦU CẤP PHÉP QUẢNG CÁO</h1>
            <!-- State -->
            <div class="py-3">
                <% let state="pending" %>
                <% if (state==="pending" ) { %>
                    <div class="state" style="color: #3c77ff; border-color: #3c77ff">Chờ xử lý</div>
                <% } else if (state==="approved" ) { %>
                    <div class="state" style="color: #009973; border-color: #009973">Đã xử lý</div>
                <% } %>
            </div>
          </div>

          <!-- Content -->
          <div class="container-fluid nd-chi-tiet px-0 d-flex flex-row justify-content-between mt-4" style="gap: 1rem;">
            <div class="container-fluid px-0">
              <div class="row">
                <img id="mainImage" src="https://placeholder.pics/svg/600x400/DEDEDE/555555/Image%201" alt="Current Image">
              </div>
              <div class="row mx-auto my-auto justify-content-center mt-2">
                <div id="recipeCarousel" class="carousel slide px-0" data-bs-ride="carousel">
                  <div class="carousel-inner" role="listbox">
                    <div class="carousel-item active">
                      <div class="col-lg-4 col-md-6 me-3">
                        <div class="card">
                          <div class="card-img">
                            <img src="https://placeholder.pics/svg/600x400/DEDEDE/555555/Image%201" class="img-fluid" />
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="carousel-item">
                      <div class="col-lg-4 col-md-6 me-3">
                        <div class="card">
                          <div class="card-img">
                            <img src="https://placeholder.pics/svg/600x400/DEDEDE/555555/Image%202" class="img-fluid" />
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="carousel-item">
                      <div class="col-lg-4 col-md-6 me-3">
                        <div class="card">
                          <div class="card-img">
                            <img src="https://placeholder.pics/svg/600x400/DEDEDE/555555/Image%203" class="img-fluid" />
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="carousel-item">
                      <div class="col-lg-4 col-md-6 me-3">
                        <div class="card">
                          <div class="card-img">
                            <img src="https://placeholder.pics/svg/600x400/DEDEDE/555555/Image%204" class="img-fluid" />
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="carousel-item">
                      <div class="col-lg-4 col-md-6 me-3">
                        <div class="card">
                          <div class="card-img">
                            <img src="https://placeholder.pics/svg/600x400/DEDEDE/555555/Image%205" class="img-fluid" />
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="carousel-item">
                      <div class="col-lg-4 col-md-6 me-3">
                        <div class="card">
                          <div class="card-img">
                            <img src="https://placeholder.pics/svg/600x400/DEDEDE/555555/Image%206" class="img-fluid" />
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <a class="carousel-control-prev bg-transparent w-aut" href="#recipeCarousel" role="button" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  </a>
                  <a class="carousel-control-next bg-transparent w-aut" href="#recipeCarousel" role="button" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  </a>
                </div>
              </div>
            </div>
            <div class="container-fluid px-0 nd-chi-tiet d-flex flex-wrap">
              <div class="container d-flex justify-content-between">
                <h4 style="font-weight: bold; margin: 0; height: fit-content; align-self: center;">Chi tiết quảng cáo</h4>
                <a href="#"><img src="/images/remove_sign.svg" alt="edit-icon"></a>
              </div>
              <div class="container mt-2">
                <label for="id-diemdat" style="margin-bottom: 6px">ID Điểm đặt</label>
                <input type="text" class="form-control" id="id-diemdat" value="D0155001" disabled />
              </div>
              <div class="container mt-2">
                <label for="diachi" style="margin-bottom: 6px">Địa chỉ điểm đặt</label>
                <input type="text" class="form-control" id="diachi" value="227 Nguyễn Văn Cừ" disabled />
              </div>
              <div class="container mt-2">
                <label for="compName" style="margin-bottom: 6px">Công ty yêu cầu cấp phép</label>
                <input type="text" class="form-control" id="compName" value="Công ty Cổ phần CivicAds Việt Nam" disabled />
              </div>
              <div class="container mt-2 d-flex justify-content-between">
                <div style="width: calc((100% - 2rem) / 2);">
                  <label for="compPhone" style="margin-bottom: 6px;">Số điện thoại</label>                  
                  <input type="text" class="form-control" id="compPhone" value="09391389139" disabled />
                </div>
                <div style="width: calc((100% - 2rem) / 2);">
                  <label for="compEmail" style="margin-bottom: 6px">Email</label>
                  <input type="text" class="form-control" id="compEmail" value="civicads@gmail.com" disabled />
                </div>
              </div>
              <div class="container mt-2">
                <label for="compAdress" style="margin-bottom: 6px">Địa chỉ công ty</label>
                <input type="text" class="form-control" id="compAdress" value="123 Nguyễn Thị Minh Khai, Phường 3, Quận 3, Thành phố Hồ Chí Minh, Việt Nam" disabled />
              </div>
              <div class="container mt-2 d-flex justify-content-between">
                <div style="width: calc((100% - 2rem) / 2);">
                  <label for="startDate" style="margin-bottom: 6px;">Thời gian bắt đầu hợp đồng</label>                  
                  <div class="input-group date" id="datepicker">
                    <input type="text" class="form-control" id="startDate" value="01-01-2023"/>
                    <span class="input-group-append">
                      <span class="input-group-text h-100">
                        <i class="fa fa-calendar" style="background-color: transparent;"></i>
                      </span>
                    </span>
                  </div>
                </div>
                <div style="width: calc((100% - 2rem) / 2);">
                  <label for="endDate" style="margin-bottom: 6px">Thời gian kết thúc hợp đồng</label>
                  <div class="input-group date" id="datepicker">
                    <input type="text" class="form-control" id="endDate" value="31-12-2023"/>
                    <span class="input-group-append">
                      <span class="input-group-text h-100">
                        <i class="fa fa-calendar" style="background-color: transparent;"></i>
                      </span>
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Dưới ảnh -->
          <div class="container-fluid px-0 mt-4 mb-2 nd-chi-tiet">
            <div class="container mt-2  custom-col">
              <label for="nd-baocao" style="margin-bottom: 6px">Nội dung quảng cáo</label>
              <textarea class="form-control" id="nd-baocao" disabled
                style="min-height: 80px">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam eaque ipsa ut, possimus repellat, sint iure dolor libero, voluptatibus non incidunt atque. Quae neque nostrum fugit ad quia incidunt doloribus!</textarea>
            </div>
            <div class="container mt-2  custom-col">
              <label for="nd-baocao" style="margin-bottom: 6px">Chú thích khác</label>
              <textarea class="form-control" id="nd-baocao" disabled
                style="min-height: 100px">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Culpa quod perspiciatis numquam soluta adipisci aperiam magni? Iure laborum esse aperiam totam, laboriosam voluptatibus neque perferendis quas fugit voluptatem laudantium expedita. Natus veritatis illo harum voluptas deleniti, voluptate possimus hic eveniet itaque sunt dolor adipisci corporis? Quisquam perferendis exercitationem quas. Ab.</textarea>
            </div>
          </div>

        </div>
      </div>
    </main>

    <!-- Ads list -->

    
    <script defer type="text/javascript" src="/js/ChitietDiemDat.js"></script>
  </body>
</html>
