<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title><%- title %></title>
    <%- include("./partials/head.ejs"); %>
    <link rel="stylesheet" href="/css/carousel.css"/>
</head>
<div class="alert alert-success alert-dismissible fade show mt-3" id="alert-success" role="alert"
    style="position: fixed; top: 0; left: 0; width: 80%; z-index: 1000; margin-left: 10rem;" hidden>
    <strong>Yêu cầu chỉnh sửa được gửi đi thành công!</strong>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>

<div class="alert alert-danger alert-dismissible fade show mt-3" id="alert-danger" role="alert"
    style="position: fixed; top: 0; left: 0; width: 80%; z-index: 1000; margin-left: 10rem;" hidden>
    <strong>Có lỗi xảy ra khi gửi yêu cầu chỉnh sửa!</strong>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>

<div class="alert alert-warning alert-dismissible fade show mt-3" id="alert-warning" role="alert"
    style="position: fixed; top: 0; left: 0; width: 80%; z-index: 1000; margin-left: 10rem;" hidden>
    <strong id="warning-text">Vui lòng nhập đầy đủ và chính xác các trường thông tin!</strong>
    <button type="button" class="btn-close"></button>
</div>

<body>
<header></header>
<main class="container-fluid d-flex bg-light">
    <div class="row"><%- include("./partials/sidebar.ejs", {toolbars: toolbars}); %></div>
    <div class="container-fluid vw-100 pt-1">
        <div class="container border border-dark rounded py-4 px-5 my-5 mx-auto shadow position-relative">
            <!-- Profile -->
            <%- include("./partials/profile_card.ejs"); %>
            <!-- Back button -->
            <%- include("./partials/back_button.ejs"); %>
            <!-- Title -->
            <div class="d-flex flex-row align-items-center justify-content-between" style="gap: 10px">
                <h1 class="fw-bolder m-0 text-uppercase"><%= title %></h1>
            </div>

            <!-- Content -->
            <div class="container-fluid nd-chi-tiet px-0 d-flex flex-row justify-content-between mt-4"
                 style="gap: 1rem;">
                <!-- Carousel -->
                <%- include("./partials/carousel.ejs",{imgUrls: imgUrls}); %>
                <div class="container-fluid px-0 nd-chi-tiet d-flex flex-wrap">
                    <div class="container mt-2 d-flex justify-content-between">
                        <div style="width: calc((100% - 2rem) / 2);">
                            <label for="id-quangcao" style="margin-bottom: 6px;">ID Quảng cáo</label>
                            <input type="text" class="form-control" id="id-quangcao" value="<%= id %>" disabled/>
                        </div>
                        <div style="width: calc((100% - 2rem) / 2);">
                            <label for="id-diemdat" style="margin-bottom: 6px">ID Điểm đặt</label>
                            <input type="text" class="form-control" id="id-diemdat" value="<%= spotID %>" disabled/>
                        </div>
                    </div>
                    <div class="container mt-2">
                        <label for="diachi" style="margin-bottom: 6px">Địa chỉ điểm đặt</label>
                        <input type="text" class="form-control" id="diachi" value="<%= spotAddress %>" disabled/>
                    </div>
                    <div class="container mt-2">
                        <label for="compName" style="margin-bottom: 6px">Công ty yêu cầu cấp phép</label>
                        <input type="text" class="form-control" id="compName" value="<%= authCompany %>"
                               disabled/>
                    </div>
                    <div class="container mt-2 d-flex justify-content-between">
                        <div style="width: calc((100% - 2rem) / 2);">
                            <label for="compPhone" style="margin-bottom: 6px;">Số điện thoại</label>
                            <input type="text" class="form-control" id="compPhone" value="<%= authCompanyPhone %>" disabled/>
                        </div>
                        <div style="width: calc((100% - 2rem) / 2);">
                            <label for="compEmail" style="margin-bottom: 6px">Email</label>
                            <input type="text" class="form-control" id="compEmail" value="<%= authCompanyEmail %>" disabled/>
                        </div>
                    </div>
                    <div class="container mt-2">
                        <label for="compAddress" style="margin-bottom: 6px">Địa chỉ công ty</label>
                        <input type="text" class="form-control" id="compAddress"
                               value="<%= authCompanyAddress %>"
                               disabled/>
                    </div>
                    <div class="container mt-2 d-flex justify-content-between">
                        <div style="width: calc((100% - 2rem) / 2);">
                            <label for="startDate" class="mb-1">Thời gian bắt đầu hợp đồng</label>
                            <input type="date" class="form-control" id="startDate" />
                        </div>
                        <div style="width: calc((100% - 2rem) / 2);">
                            <label for="endDate" class="mb-1">Thời gian kết thúc hợp đồng</label>
                            <input type="date" class="form-control" id="endDate" />
                        </div>
                    </div>
                </div>
            </div>
            <!-- Dưới ảnh -->
            <div class="container-fluid px-0 mt-4 mb-2 nd-chi-tiet">
                <div class="container mt-2 d-flex justify-content-between">
                    <div style="width: calc((100% - 2rem) / 4);">
                        <label for="boardTypeName" style="margin-bottom: 6px">Loại bảng</label>
                        <input type="text" class="form-control" id="boardTypeName" value="<%= boardTypeName %>"disabled/>
                    </div>
                    <div style="width: calc((100% - 2rem) / 4);">
                        <label for="board-quantity" style="margin-bottom: 6px">Số lượng (trụ/bảng)</label>
                        <input type="number" class="form-control" id="board-quantity" min="0" max="10" value="<%= quantity %>"disabled />
                    </div>
                    <div style="width: calc((100% - 2rem) / 4);">
                        <label for="board-height" style="margin-bottom: 6px;">Chiều cao (m)</label>                  
                        <input type="number" class="form-control" id="board-height" min="0" max="50" step="0.01" value="<%= height %>"disabled/>
                    </div>
                    <div style="width: calc((100% - 2rem) / 4);">
                        <label for="board-width" style="margin-bottom: 6px">Chiều rộng (m)</label>
                        <input type="number" class="form-control" id="board-width" min="0" max="50" step="0.01" value="<%= width %>"disabled/>
                    </div>
                </div>
                <div class="container mt-2">
                    <div class="col-md-12 custom-col">
                        <label for="content" style="margin-bottom: 6px">Nội dung quảng cáo</label>
                        <div id="content" class="form-control"
                             style="min-height: 6.25rem; border-radius: 0; background-color: var(--bs-secondary-bg) !important; border-bottom-color: var(--Neutral-5);">
                            <%- content %>
                        </div>
                    </div>
                    <script>
                      let content = document.getElementById("content");
                      content = content.value.replace(/\\n/g, "<br />");
                      console.log(`after replace: ${content}`);
                      const adsContent = new DOMParser().parseFromString(content, "text/html").body.firstElementChild;
                      if (adsContent && adsContent.innerHTML)
                        document.getElementById("content").innerHTML = adsContent.innerHTML;
                      else document.getElementById("content").innerText = content;
                    </script>
                </div>
            </div>
            <!-- Button -->
            <div class="container-fluid px-0 mt-4 mb-2">
                <div class="container flex-row mt-2 d-flex justify-content-end gap-2">
                    <button type="button" id="submitBtn" class="btn btn-primary">Xác nhận gia hạn</button>
                </div>
            </div>

        </div>
    </div>
</main>

<script>
    const submitHandler = async (e) => {
        e.preventDefault();

        // Check startDate & EndDate
        const startDate = document.getElementById('startDate').value;
        const endDate = document.getElementById('endDate').value;
        const curDate = new Date();
        const sDate = new Date(startDate);
        if(startDate == '' || endDate == ''){
            document.getElementById('warning-text').textContent = "Vui lòng nhập NGÀY BẮT ĐẦU và NGÀY KẾT THÚC của hợp đồng";
            document.getElementById('alert-warning').hidden = false;
            return;
        }

        if(startDate >= endDate){
            document.getElementById('warning-text').textContent = "Vui lòng nhập đúng NGÀY KẾT THÚC sau NGÀY BẮT ĐẦU";
            document.getElementById('alert-warning').hidden = false;
            return;
        }

        if(sDate <= curDate){
            document.getElementById('warning-text').textContent = "Vui lòng nhập đúng NGÀY BẮT ĐẦU sau ngày hôm nay";
            document.getElementById('alert-warning').hidden = false;
            return;
        }

        const data = {
            spotID: document.getElementById('id-diemdat').value,
            boardType: JSON.parse('<%- JSON.stringify(boardType); %>'),
            quantity: document.getElementById('board-quantity').value,
            height: document.getElementById('board-height').value,
            width: document.getElementById('board-width').value,
            adsImages: JSON.parse('<%- JSON.stringify(imgUrls); %>'),
            content: document.getElementById('content').innerHTML,
            companyName: document.getElementById('compName').value,
            companyPhone: document.getElementById('compPhone').value,
            companyEmail: document.getElementById('compEmail').value,
            companyAddress: document.getElementById('compAddress').value,
            startDate: document.getElementById('startDate').value,
            endDate: document.getElementById('endDate').value,
            officerUsername: '<%= user.username %>',
            extendForBoard: document.getElementById('id-quangcao').value,
        }

        const url = '<%= url %>';
        const requestUrl = url.replace('/create', '');
        // console.log(data);
        // console.log(requestUrl);
        const result = await fetch(requestUrl, {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json'
        },
        body: JSON.stringify(data),
        });
        if (result.status == 200) {
            document.getElementById('alert-success').removeAttribute('hidden');
            // clear all input
            document.querySelectorAll('input').forEach((input) => {
                input.value = '';
            });
            document.getElementById('alert-success').addEventListener('closed.bs.alert', () => {
                console.log('1');
                const role = JSON.parse('<%- JSON.stringify(role); %>');
                window.location.href = `/${role}/license`;
            });
        } else {
            document.getElementById('alert-danger').hidden = false;
        }
    };

    document.querySelectorAll('.btn-close').forEach((btn) => {
        btn.addEventListener('click', (e) => {
            e.preventDefault();
            e.target.parentElement.hidden = true;
        });
    });

    document.getElementById('submitBtn').addEventListener('click', submitHandler);

</script>

</body>
</html>
