<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%- title; %></title>
    <%- include("./partials/head.ejs"); %>
    <link rel="stylesheet" href="/css/carousel.css" />
    <!-- TinyMCE -->
    <script type="text/javascript" src='https://cdn.tiny.cloud/1/r48esfw27w6eey301xxsgf1pbt45hv51mbq5s97zr4ycrf02/tinymce/6/tinymce.min.js' referrerpolicy="origin"></script>
    <script type="text/javascript">
      tinymce.init({
        selector: '#content',
        height: 300,
        plugins: ['searchreplace', 'wordcount', 'visualblocks', 'visualchars', 'code', 'fullscreen', 'insertdatetime', 'table', 'emoticons'],
        toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | link image media table mergetags | align lineheight | tinycomments | checklist numlist bullist indent outdent | emoticons charmap | removeformat',
        menubar: 'favs file edit view insert format tools table help',
        language: 'vi',
      });
    </script>
</head>
<%- include("./partials/loader.ejs") %>
<div class="alert alert-success alert-dismissible fade show mt-3" id="alert-success" role="alert"
    style="position: fixed; top: 0; left: 0; width: 80%; z-index: 1000; margin-left: 10rem;" hidden>
    <strong>Bảng quảng cáo được tạo thành công!</strong>
    <button type="button" class="btn-close"></button>
</div>

<div class="alert alert-danger alert-dismissible fade show mt-3" id="alert-danger" role="alert"
    style="position: fixed; top: 0; left: 0; width: 80%; z-index: 1000; margin-left: 10rem;" hidden>
    <strong>Có lỗi xảy ra khi tạo bảng quảng cáo!</strong>
    <button type="button" class="btn-close"></button>
</div>

<div class="alert alert-warning alert-dismissible fade show mt-3" id="alert-warning" role="alert"
    style="position: fixed; top: 0; left: 0; width: 80%; z-index: 1000; margin-left: 10rem;" hidden>
    <strong id="warning-text">Vui lòng nhập đầy đủ và chính xác các trường thông tin!</strong>
    <button type="button" class="btn-close"></button>
</div>
<body>
<header></header>
<main class="container-fluid d-flex bg-light" style="min-height: 100vh">
    <div class="row"><%- include("./partials/sidebar.ejs", {toolbars: toolbars}); %></div>
    <div class="container-fluid vw-100 pt-1">
        <div class="container border border-dark rounded py-4 px-5 my-5 mx-auto shadow position-relative">
            <!-- Profile -->
            <%- include("./partials/profile_card.ejs"); %>
            <!-- Back button -->
            <%- include("./partials/back_button.ejs"); %>
            <!-- Title -->
            <div class="d-flex flex-row align-items-center" style="gap: 10px">
                <h1 class="fw-bolder m-0 text-uppercase"><%= title; %></h1>
            </div>

            <!-- Content -->
            <div class="container-fluid nd-chi-tiet px-0 d-flex flex-row justify-content-between mt-4 gap-1">
                <!-- Image chooser -->
                <div class="container-fluid px-0">
                    <div class="row position-relative h-100">
                        <!-- Badge -->
                        <div class="badge border border-dark top-0 start-0 translate-middle position-absolute rounded-pill bg-white text-center" style="width: 50px; height:50px;" hidden>
                            <span class="d-inline-flex align-items-center justify-content-center text-dark fs-5 fw-bold h-100 w-100" id="badge-text">1</span>
                        </div>
                        <label for="input-image" id="drop-area" class="bg-white rounded-5 p-3">
                            <input type="file" id="input-image" accept="image/*" hidden multiple/>
                            <div id="img-view" class="d-flex flex-column align-items-center justify-content-center text-center rounded-4"
                                style="border: 2px dashed #bbb5ff; width: 100%; height: 100%; background: #f7f8ff center; background-size: cover;">
                                <img src="/images/upload-icon.png" alt="Ảnh xem trước" class="img-fluid" />
                                <p class="text-black">Drag and drop or click here <br>to upload image</p>
                                <span class="d-block fw-lighter fs-6 text-body-secondary">Upload any images from desktop</span>
                            </div>
                        </label>
                    </div>
                    <script defer src="/js/uploadImage.js"></script>
                </div>

                <div class="container-fluid px-0 nd-chi-tiet d-flex flex-wrap">
                    <div class="container d-flex justify-content-between">
                        <h4 style="font-weight: bold; margin: 0; height: fit-content; align-self: center;">
                            Chi tiết quảng cáo
                        </h4>
                    </div>
                    <div class="container mt-2">
                        <label for="spotID" class="mb-1">ID Điểm đặt</label>
                        <input type="text" class="form-control" id="spotID" disabled/>
                    </div>
                    <div class="container mt-2">
                        <label for="spotName" class="mb-1">Điểm đặt</label>
                        <input type="text" list="spotList" class="form-control" id="spotName" autocomplete="on" />
                        <datalist id="spotList" style="display: none;">
                            <% spots.forEach((spot) => { %>
                                <option value="<%= spot.name; %>"></option>
                            <% }); %>
                        </datalist>
                    </div>
                    <div class="container mt-2">
                        <label for="spotAddress" class="mb-1">Địa chỉ điểm đặt</label>
                        <input type="text" class="form-control" id="spotAddress" disabled/>
                    </div>
                    <div class="container mt-2">
                        <label for="compName" class="mb-1">Công ty yêu cầu cấp phép</label>
                        <input type="text" class="form-control" id="compName" />
                    </div>
                    <div class="container mt-2 d-flex justify-content-between">
                        <div style="width: calc((100% - 2rem) / 2);">
                            <label for="compPhone" class="mb-1">Số điện thoại</label>
                            <input type="tel" class="form-control" id="compPhone" pattern="[0-9]{10}" />
                        </div>
                        <div style="width: calc((100% - 2rem) / 2);">
                            <label for="compEmail" class="mb-1">Email</label>
                            <input type="email" class="form-control" id="compEmail" />
                        </div>
                    </div>
                    <div class="container mt-2">
                        <label for="compAddress" class="mb-1">Địa chỉ công ty</label>
                        <input type="text" class="form-control" id="compAddress" />
                    </div>
                    <div class="container mt-2 d-flex justify-content-between">
                        <div style="width: calc((100% - 2rem) / 2);">
                            <label for="startDate" class="mb-1">Thời gian bắt đầu hợp đồng</label>
                            <input type="date" class="form-control" id="startDate" />
                        </div>
                        <div style="width: calc((100% - 2rem) / 2);">
                            <label for="endDate" class="mb-1">Thời gian kết thúc hợp đồng</label>
                            <input type="date" class="form-control" id="endDate" />
                        </div>
                    </div>
                </div>
            </div>
            <!-- Dưới ảnh -->
            <div class="container-fluid px-0 mt-4 mb-2 nd-chi-tiet">
                <div class="container mt-2 d-flex justify-content-between">
                    <div style="width: calc((100% - 2rem) / 4);">
                        <label for="boardTypeName" style="margin-bottom: 6px">Loại bảng</label>
                        <input type="text" class="form-control" id="boardTypeName" list="boardTypeList" />
                        <input type="text" class="form-control" id="boardType" hidden />
                        <datalist id="boardTypeList" style="display: none;">
                            <% boardtypes.forEach((type)=> { %>
                            <option value="<%= type.typeName; %>"></option>
                            <% }); %>
                        </datalist>
                    </div>
                    <div style="width: calc((100% - 2rem) / 4);">
                        <label for="board-quantity" style="margin-bottom: 6px">Số lượng (trụ/bảng)</label>
                        <input type="number" class="form-control" id="board-quantity" value="" min="0" max="10" />
                    </div>
                    <div style="width: calc((100% - 2rem) / 4);">
                        <label for="board-height" style="margin-bottom: 6px;">Chiều cao (m)</label>                  
                        <input type="number" class="form-control" id="board-height" value="" min="0" max="50" step="0.01" />
                    </div>
                    <div style="width: calc((100% - 2rem) / 4);">
                        <label for="board-width" style="margin-bottom: 6px">Chiều rộng (m)</label>
                        <input type="number" class="form-control" id="board-width" value="" min="0" max="50" step="0.01"/>
                    </div>
                </div>
                <div class="container mt-2  custom-col">
                    <label for="content" class="mb-1">Nội dung quảng cáo</label>
                    <textarea class="form-control" id="content" rows="3"></textarea>
                </div>
            </div>
            <!-- Button -->
            <div class="container-fluid px-0 mt-4 mb-2">
                <div class="container flex-row mt-2 d-flex justify-content-end gap-2">
                    <button type="button" id="cancelBtn" class="btn btn-danger">Huỷ</button>
                    <button type="button" id="submitBtn" class="btn btn-primary">Tạo yêu cầu</button>
                </div>
            </div>
        </div>
    </div>
</main>

<script defer>
  const loader = document.getElementById('loaderContainer');
  let accessToken = null;

  const getAccessToken = async () => {
    const response = await fetch('/imgur');
    const data = await response.json();
    return data.accessToken;
  }

  const upload2Imgur = async (files) => {
    const links = []
    if (!accessToken) {
      accessToken = await getAccessToken();
    }
    for (let i = 0; i < files.length; i++) {
      const formData = new FormData()
      formData.append('image', files[i])
      const headers = new Headers()
      headers.append('Authorization', 'Bearer ' + accessToken)
      const response = await fetch('https://api.imgur.com/3/image', {
        headers: headers,
        method: 'POST',
        body: formData,
        redirect: 'follow'
      });
      const data = await response.json()
      links.push(data.data.link);
    }
    return links;
  }
  const submitHandler = async (e) => {
    e.preventDefault();

    // ... Check valid of fields BEFORE updating images.................

    // Check spot name.
    const spotNameInput = document.getElementById('spotName').value.trim();
    const spotList = JSON.parse('<%- JSON.stringify(spots); %>');
    if(spotNameInput == '' || !(spotList.some(spot => spot.name === spotNameInput))){
        document.getElementById('warning-text').textContent = "Vui lòng nhập đúng TÊN ĐIỂM ĐẶT.";
        document.getElementById('alert-warning').hidden = false;
        return;
    }

    // Check company name
    const companyName = document.getElementById('compName').value.trim();
    if(companyName == ''){
        document.getElementById('warning-text').textContent = "Vui lòng nhập TÊN CÔNG TY";
        document.getElementById('alert-warning').hidden = false;
        return;
    }

    // Check phone number is digit ?
    const companyPhone = document.getElementById('compPhone').value
    if(companyPhone == '' || !(/^\d+$/).test(companyPhone)){
        document.getElementById('warning-text').textContent = "Vui lòng nhập đúng SỐ ĐIỆN THOẠI (tất cả đồ là chữ số)";
        document.getElementById('alert-warning').hidden = false;
        return;
    }

    // Check email format
    const companyEmail = document.getElementById('compEmail').value;
    if(companyEmail == '' || !(/^[^\s@]+@[^\s@]+\.[^\s@]+$/).test(companyEmail)){
        document.getElementById('warning-text').textContent = "Vui lòng nhập đúng số ĐỊA CHỈ EMAIL (example@abc.xyz)";
        document.getElementById('alert-warning').hidden = false;
        return;
    }

    // Check company address
    const companyAddress = document.getElementById('compAddress').value.trim();
    if(companyAddress == ''){
        document.getElementById('warning-text').textContent = "Vui lòng nhập ĐỊA CHỈ công ty";
        document.getElementById('alert-warning').hidden = false;
        return;
    }

    // Check startDate & EndDate
    const startDate = document.getElementById('startDate').value;
    const endDate = document.getElementById('endDate').value;
    if(startDate == '' || endDate == '' || startDate >= endDate){
        document.getElementById('warning-text').textContent = "Vui lòng nhập đúng NGÀY BẮT ĐẦU và NGÀY KẾT THÚC";
        document.getElementById('alert-warning').hidden = false;
        return;
    }

    // Check board type.
    const boardTypeInput = document.getElementById('boardTypeName').value.trim();
    const boardTypeList = JSON.parse('<%- JSON.stringify(boardtypes); %>');
    if(boardTypeInput == '' || !(boardTypeList.some(type => type.typeName === boardTypeInput))){
        document.getElementById('warning-text').textContent = "Vui lòng nhập đúng LOẠI BẢNG QUẢNG CÁO.";
        document.getElementById('alert-warning').hidden = false;
        return;
    }

    // Check quantity
    const quantity = document.getElementById('board-quantity').value
    if(quantity == '' || !(/^\d+$/).test(quantity) || Number.parseInt(quantity) > 10 || Number.parseInt(quantity) < 0){
        document.getElementById('warning-text').textContent = "Vui lòng nhập đúng SỐ LƯỢNG BẢNG / TRỤ (số nguyên từ 0 tới 10).";
        document.getElementById('alert-warning').hidden = false;
        return;
    }

    // Check height
    const height = document.getElementById('board-height').value
    if(height == '' || Number.parseFloat(height) > 50.0 || Number.parseFloat(height) < 0.0){
        document.getElementById('warning-text').textContent = "Vui lòng nhập đúng CHIỀU CAO (từ 0 tới 50).";
        document.getElementById('alert-warning').hidden = false;
        return;
    }

    // Check width
    const width = document.getElementById('board-width').value
    if(width == '' || Number.parseFloat(width) > 50.0 || Number.parseFloat(width) < 0.0){
        document.getElementById('warning-text').textContent = "Vui lòng nhập đúng CHIỀU RỘNG (từ 0 tới 50).";
        document.getElementById('alert-warning').hidden = false;
        return;
    }

    // Check content
    const content = tinymce.activeEditor.getContent();
    if(content == ''){
        document.getElementById('warning-text').textContent = "Vui lòng nhập NỘI DUNG QUẢNG CÁO.";
        document.getElementById('alert-warning').hidden = false;
        return;
    }

    // ................................................
    const inputImage = document.getElementById('input-image');
    const files = inputImage.files;

    loader.style.display = 'block'; // show loader

    const imgUrls = await upload2Imgur(files);
    // console.log(imgUrls);

    // Check image
    if(imgUrls.length == 0){
        document.getElementById('warning-text').textContent = "Vui lòng tải lên ÍT NHẤT MỘT ẢNH về bảng quảng cáo.";
        document.getElementById('alert-warning').hidden = false;
        loader.style.display = 'none';
        return;
    }
    // ................................................

    const data = {
      spotID: document.getElementById('spotID').value,
      boardType: document.getElementById('boardType').value,
      quantity: quantity,
      height: height,
      width: width,
      adsImages: imgUrls,
      content: content,
      companyName: companyName,
      companyPhone: companyPhone,
      companyEmail: companyEmail,
      companyAddress: companyAddress,
      startDate: startDate,
      endDate: endDate,
      officerUsername: '<%= user.username %>'
    }

    const url = '<%= url %>';
    const requestUrl = url.replace('/create', '');

    // console.log(data);
    // console.log(requestUrl);
    const result = await fetch(requestUrl, {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify(data),
    });
    if (result.status == 200) {
        document.getElementById('alert-success').hidden = false;
        // clear all input
        document.querySelectorAll('input').forEach((input) => {
        input.value = '';
    });
    } else {
        document.getElementById('alert-danger').hidden = false;
    }

    loader.style.display = 'none';

  }

  const boardTypes = JSON.parse('<%- JSON.stringify(boardtypes) %>');
  const boardTypeInput = document.getElementById("boardTypeName");
  const boardTypeID = document.getElementById("boardType");

  boardTypeInput.addEventListener('change', (e) => {
    const boardType = boardTypes.find(type => type.typeName === boardTypeInput.value);
    boardTypeID.value = boardType.typeID;
  })

  document.getElementById('submitBtn').addEventListener('click', submitHandler);

  const spots = JSON.parse('<%- JSON.stringify(spots); %>');
  const spotIDInput = document.getElementById('spotID');
  const spotNameInput = document.getElementById('spotName');
  const spotAddressInput = document.getElementById('spotAddress');
  spotNameInput.addEventListener('keyup', (e) => {
    const spotName = e.target.value;
    const spot = spots.find((spot) => spot.name === spotName);
    if (spot) {
      spotIDInput.value = spot.id;
      spotAddressInput.value = spot.address;
    }
  })

  const curSpot = JSON.parse('<%- JSON.stringify(curSpot); %>');
  if(Object.keys(curSpot).length > 0){
    spotIDInput.value = curSpot.spotID;
    spotAddressInput.value = `${curSpot.address}, Phường ${curSpot.wardName}, Quận ${curSpot.districtName}`;
    spotNameInput.value = curSpot.spotName;
  }

  document.querySelectorAll('.btn-close').forEach((btn) => {
        btn.addEventListener('click', (e) => {
            e.preventDefault();
            e.target.parentElement.hidden = true;
        });
    });
</script>
</body>
</html>
