<!DOCTYPE html>
<html lang="vi">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title><%- title %></title>
  <%- include("./partials/head.ejs"); %>
</head>

<body>
    <header></header>
    <main class="container-fluid d-flex bg-light">
      <div class="row">
        <%- include("./partials/sidebar.ejs", {toolbars: toolbars}); %>
      </div>
      <div class="container-fluid vw-100 pt-1">
        <div class="container border border-dark rounded py-4 px-5 my-5 mx-auto shadow position-relative">
          <!-- Profile -->
          <%- include("./partials/profile_card.ejs"); %>
            <!-- Back button -->
            <%- include("./partials/back_button.ejs"); %>
              <!-- Title -->
              <div class="d-flex flex-row align-items-center" style="gap: 10px">
                <h1 class="fw-bolder m-0 text-uppercase"><%- title %></h1>
              </div>

              <!-- Content -->
              <div class="container-fluid nd-chi-tiet px-0">
                <!-- Row 1: 3 columns -->
                <div class="row mt-2">
                  <div class="col-md-4 custom-col">
                    <label for="requestID" style="margin-bottom: 6px">ID Yêu cầu cấp phép</label>
                    <input type="text" class="form-control" id="requestID" value="<%- requestID %>" disabled />
                  </div>
                  <div class="col-md-4 custom-col">
                    <label for="spotID" style="margin-bottom: 6px">ID Điểm đặt</label>
                    <input type="phone" class="form-control" id="spotID" value="<%- spotID %>" disabled />
                  </div>
                  <div class="col-md-4 custom-col">
                    <label for="dropdown-state-list" style="margin-bottom: 6px">Trạng thái</label>
                    <% if(state == 0) { %>
                      <select class="form-select" aria-label="Default select example" id="state" disabled>
                        <option selected value="0">Chờ xử lý</option>
                      </select>
                    <% } else if(state == 1){ %>
                        <select class="form-select" aria-label="Default select example" id="state" disabled>
                            <option selected value="1">Đã chấp thuận</option>
                          </select>
                    <% } else if(state == -1){ %>
                        <select class="form-select" aria-label="Default select example" id="state" disabled>
                            <option selected value="-1">Đã từ chối</option>
                          </select>
                    <% } else {%>
                      <select class="form-select" aria-label="Default select example" id="state" disabled>
                        <option selected value="-2">Đã hết hạn</option>
                      </select>
                    <% } %>
                  </div>
                </div>

                <!-- Row 2: 2 columns -->
                <div class="row mt-2">
                  <div class="col-md-6 custom-col">
                    <label for="name" style="margin-bottom: 6px">Tên Điểm đặt</label>
                    <input type="text" class="form-control" id="name" value="<%- name %>" disabled />
                  </div>
                  <div class="col-md-6 custom-col">
                    <label for="address" style="margin-bottom: 6px">Địa chỉ điểm đặt</label>
                    <input type="text" class="form-control" id="address" value="<%- address %>" disabled />
                  </div>
                </div>
                <!-- Row 3: 2 columns -->
                <div class="row mt-2">
                    <div class="col-md-6 custom-col">
                      <label for="company" style="margin-bottom: 6px">Tên công ty yêu cầu</label>
                      <input type="text" class="form-control" id="company" value="<%- company %>" disabled />
                    </div>
                    <div class="col-md-6 custom-col">
                      <label for="compAddr" style="margin-bottom: 6px">Địa chỉ Công ty</label>
                      <input type="text" class="form-control" id="compAddr" value="<%- compAddr %>" disabled />
                    </div>
                </div>
                <!-- Row 4: 4 columns -->
                <div class="row mt-2">
                    <div class="col-md-3 custom-col">
                      <label for="phone" style="margin-bottom: 6px">Số điện thoại</label>
                      <input type="text" class="form-control" id="phone" value="<%- phone %>" disabled />
                    </div>
                    <div class="col-md-3 custom-col">
                      <label for="email" style="margin-bottom: 6px">Email</label>
                      <input type="text" class="form-control" id="email" value="<%- email %>" disabled />
                    </div>
                    <div class="col-md-3 custom-col">
                        <label for="startTime" style="margin-bottom: 6px">Thời gian bắt đầu</label>
                        <input type="text" class="form-control" id="startTime" value="<%- startTime %>" disabled />
                    </div>
                    <div class="col-md-3 custom-col">
                        <label for="endTime" style="margin-bottom: 6px">Thời gian kết thúc</label>
                        <input type="text" class="form-control" id="endTime" value="<%- endTime %>" disabled />
                    </div>
                </div>
                <!-- Row 5: 4 columns -->
                <div class="row mt-2">
                    <div class="col-md-3 custom-col">
                      <label for="boardType" style="margin-bottom: 6px">Loại bảng</label>
                      <input type="text" class="form-control" id="boardType" value="<%- boardType %>" disabled />
                    </div>
                    <div class="col-md-3 custom-col">
                      <label for="height" style="margin-bottom: 6px">Chiều cao (m)</label>
                      <input type="text" class="form-control" id="height" value="<%- height %>" disabled />
                    </div>
                    <div class="col-md-3 custom-col">
                        <label for="width" style="margin-bottom: 6px">Chiều rộng (m)</label>
                        <input type="text" class="form-control" id="width" value="<%- width %>" disabled />
                    </div>
                    <div class="col-md-3 custom-col">
                        <label for="quantity" style="margin-bottom: 6px">Số lượng trụ/bảng</label>
                        <input type="text" class="form-control" id="quantity" value="<%- quantity %>" disabled />
                    </div>
                </div>

                <!-- Rows 4, 5, 6: 1 column each -->
                <div class="row mt-2">
                  <div class="col-md-12 custom-col">
                    <label for="content" style="margin-bottom: 6px">Nội dung quảng cáo</label>
                    <div id="content" class="form-control"
                      style="min-height: 6.25rem; border-radius: 0; background-color: var(--bs-secondary-bg) !important; border-bottom-color: var(--Neutral-5);">
                      <%- content %>
                    </div>
                  </div>
                  <script>
                    let content = document.getElementById("content");
                    console.log(`content: ${content.value}`);
                    content = content.value.replace(/\\n/g, "<br />");
                    console.log(`after replace: ${content}`);
                    const adsContent = new DOMParser().parseFromString(content, "text/html").body.firstElementChild;
                    console.log(`adsContent: ${adsContent}`);
                    if (adsContent && adsContent.innerHTML)
                      document.getElementById("content").innerHTML = adsContent.innerHTML;
                    else document.getElementById("content").innerText = content;
                  </script>
                </div>
                <div class="row mt-2">
                  <div class="col-md-12 custom-col hinhanh-mhoa">
                    <label for="illustrate" style="margin-bottom: 6px">Hình ảnh minh họa</label>
                    <div class="d-flex flex-row row">
                      <% if(imgUrls[1]) { %>
                        <div class="col-md-6 custom-col">
                          <img src="<%- imgUrls[0] %>" alt=""  style="height: 16rem; object-fit: cover; object-position: center">
                        </div>
                        <div class="col-md-6 custom-col">
                          <img src="<%- imgUrls[1] %>" alt=""  style="height: 16rem; object-fit: cover; object-position: center">
                        </div>
                      <% } else { %>  
                        <div class="col-md-12 custom-col">
                          <img src="<%- imgUrls[0] %>" alt=""  style="height: 16rem; object-fit: cover; object-position: center">
                        </div>
                      <% } %>   
                    </div>
                  </div>
                </div>
              </div>
              <% if(state == 0) { %>
                <div class="d-flex flex-row align-items-center justify-content-start" style="gap: 20px; margin-top: 15px;">
                  <button type="button" class="btn btn-danger" id="deleteButton" style="width: 150px;">Xóa yêu cầu</button>
                </div>
              <% } %>
        </div>
        
      </div>
    </main>
</body>

<script>
  const deleteButton = document.getElementById('deleteButton');
  const role = JSON.parse('<%- JSON.stringify(role) %>');
  if(deleteButton){
    deleteButton.addEventListener('click', async () => {
      const isConfirmed =  window.confirm("Bạn có chắc chắn muốn xóa yêu cầu cấp phép này không?");

      if(isConfirmed){
        const requestID = JSON.parse('<%- JSON.stringify(requestID) %>');
        console.log(`/${role}/license/${requestID}`);
        try {
          const response = await fetch(`/${role}/license/${requestID}`, {
            method: 'DELETE',
            headers: {
              'Content-Type': 'application/json',
              // Add any additional headers as needed
            },
          });
        } catch (error) {
          console.error('Error during DELETE request:', error.message);
        } finally {
          window.location.assign(`/${role}/license`);
        }

      }
    })
  }
</script>

</html>