<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title><%- title %></title>
    <%- include("./partials/head.ejs"); %>
    <link rel="stylesheet" href="/css/carousel.css"/>
</head>

<body>
<header></header>
<main class="container-fluid d-flex bg-light">
    <div class="row"><%- include("./partials/sidebar.ejs", {toolbars: toolbars}); %></div>
    <div class="container-fluid vw-100 pt-1">
        <div class="container border border-dark rounded py-4 px-5 my-5 mx-auto shadow position-relative">
            <!-- Profile -->
            <%- include("./partials/profile_card.ejs"); %>
            <!-- Back button -->
            <%- include("./partials/back_button.ejs"); %>
            <!-- Title -->
            <div class="d-flex flex-row align-items-center" style="gap: 10px">
                <h1 class="fw-bolder m-0 text-uppercase"><%= title %></h1>
                <!-- State -->
                <div class="py-3">
                    <% if (detail) { %>
                        <% if (state === "Chờ xử lý" ) { %>
                            <div class="state" style="color: #3c77ff; border-color: #3c77ff">Chờ xử lý</div>
                        <% } else if (state === "Đã xử lý" ) { %>
                            <div class="state" style="color: #009973; border-color: #009973">Đã xử lý</div>
                        <% } %>
                    <% } %>
                </div>
            </div>

            <!-- Content -->
            <div class="container-fluid nd-chi-tiet px-0 d-flex flex-row justify-content-between mt-4"
                 style="gap: 1rem;">
                <!-- Carousel -->
                <%- include("./partials/carousel.ejs",
                {imgUrls: imgUrls}); %>
                <div class="container-fluid px-0 nd-chi-tiet d-flex flex-wrap">
                    <div class="container d-flex justify-content-between">
                        <h4 style="font-weight: bold; margin: 0; height: fit-content; align-self: center;">Chi tiết quảng cáo</h4>
                        <% if (state === 'Chờ xử lý' && detail) { %>
                        <a href="#"><img src="/images/remove_sign.svg" alt="edit-icon"></a>
                        <% } %>
                    </div>
                    <div class="container mt-2">
                        <label for="id-diemdat" style="margin-bottom: 6px">ID Điểm đặt</label>
                        <input type="text" class="form-control" id="id-diemdat" value="<%= spotId %>" disabled/>
                    </div>
                    <div class="container mt-2">
                        <label for="diachi" style="margin-bottom: 6px">Địa chỉ điểm đặt</label>
                        <input type="text" class="form-control" id="diachi" value="<%= spotAddr %>" <% if (detail) { %> disabled <% } %>/>
                    </div>
                    <div class="container mt-2">
                        <label for="compName" style="margin-bottom: 6px">Công ty yêu cầu cấp phép</label>
                        <input type="text" class="form-control" id="compName" value="<%= company %>"
                               <% if (detail) { %> disabled <% } %>/>
                    </div>
                    <div class="container mt-2 d-flex justify-content-between">
                        <div style="width: calc((100% - 2rem) / 2);">
                            <label for="compPhone" style="margin-bottom: 6px;">Số điện thoại</label>
                            <input type="text" class="form-control" id="compPhone" value="<%= phone %>" <% if (detail) { %> disabled <% } %>/>
                        </div>
                        <div style="width: calc((100% - 2rem) / 2);">
                            <label for="compEmail" style="margin-bottom: 6px">Email</label>
                            <input type="text" class="form-control" id="compEmail" value="<%= email %>" <% if (detail) { %> disabled <% } %>/>
                        </div>
                    </div>
                    <div class="container mt-2">
                        <label for="compAdress" style="margin-bottom: 6px">Địa chỉ công ty</label>
                        <input type="text" class="form-control" id="compAdress"
                               value="<%= compAddr %>"
                               <% if (detail) { %> disabled <% } %>/>
                    </div>
                    <div class="container mt-2 d-flex justify-content-between">
                        <div style="width: calc((100% - 2rem) / 2);">
                            <label for="startDate" style="margin-bottom: 6px;">Thời gian bắt đầu hợp đồng</label>
                            <div class="input-group date" id="datepicker">
                                <input type="text" class="form-control" id="startDate" value="<%= startTime %>" <% if (detail) { %> disabled <% } %>/>
                                <span class="input-group-append">
                      <span class="input-group-text h-100">
                        <i class="fa fa-calendar" style="background-color: transparent;"></i>
                      </span>
                    </span>
                            </div>
                        </div>
                        <div style="width: calc((100% - 2rem) / 2);">
                            <label for="endDate" style="margin-bottom: 6px">Thời gian kết thúc hợp đồng</label>
                            <div class="input-group date" id="datepicker">
                                <input type="text" class="form-control" id="endDate" value="<%= endTime %>" <% if (detail) { %> disabled <% } %>/>
                                <span class="input-group-append">
                      <span class="input-group-text h-100">
                        <i class="fa fa-calendar" style="background-color: transparent;"></i>
                      </span>
                    </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Dưới ảnh -->
            <div class="container-fluid px-0 mt-4 mb-2 nd-chi-tiet">
                <div class="container mt-2  custom-col">
                    <label for="content" style="margin-bottom: 6px">Nội dung quảng cáo</label>
                    <textarea class="form-control" id="content" <% if (detail) { %> disabled <% } %>
                              style="min-height: 80px"><%= content %></textarea>
                </div>
                <div class="container mt-2  custom-col">
                    <label for="note" style="margin-bottom: 6px">Chú thích khác</label>
                    <textarea class="form-control" id="note" <% if (detail) { %> disabled <% } %>
                              style="min-height: 100px"><%= other %></textarea>
                </div>
            </div>

        </div>
    </div>
</main>

<!-- Ads list -->


<script defer type="text/javascript" src="/js/ChitietDiemDat.js"></script>
</body>
</html>
