<!DOCTYPE html>
<html lang="vi">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%- title %></title>
    <%- include("./partials/head.ejs"); %>
    <link rel="stylesheet" href="/css/carousel.css" />
  </head>

  <body>
    <header></header>
    <main class="container-fluid d-flex bg-light">
      <div class="row"><%- include("./partials/sidebar.ejs", {toolbars: toolbars}); %></div>
      <div class="container-fluid vw-100 pt-1">
        <div class="container border border-dark rounded py-4 px-5 my-5 mx-auto shadow position-relative">
          <!-- Profile -->
          <%- include("./partials/profile_card.ejs", {user: {name: 'Admin' , level: 'Sở VH-TT' }}); %>
          <!-- Back button -->
          <%- include("./partials/back_button.ejs"); %>
          <!-- Title -->
          <div class="d-flex flex-row align-items-center" style="gap: 10px">
            <h1 class="fw-bolder m-0" id="diemdat-title">ĐỒNG KHỞI - NGUYỄN DU, SỞ VĂN HÓA VÀ THỂ THAO</h1>
          </div>

          <!-- Content -->
          <div class="container-fluid nd-chi-tiet px-0 d-flex flex-row justify-content-between mt-4" style="gap: 1rem;">
            <!-- Carousel -->
            <%- include("./partials/carousel.ejs",
            {imgUrls: [
            'https://placeholder.pics/svg/600x400/DEDEDE/555555/Image%201',
            'https://placeholder.pics/svg/600x400/DEDEDE/555555/Image%202',
            'https://placeholder.pics/svg/600x400/DEDEDE/555555/Image%203',
            'https://placeholder.pics/svg/600x400/DEDEDE/555555/Image%204',
            'https://placeholder.pics/svg/600x400/DEDEDE/555555/Image%205',
            'https://placeholder.pics/svg/600x400/DEDEDE/555555/Image%206'
            ]}); %>
            <div class="container-fluid px-0 nd-chi-tiet">
              <div class="container">
                <label for="id-diemdat" style="margin-bottom: 6px">ID Điểm đặt</label>
                <input type="text" class="form-control" id="id-diemdat" value="D0155001" disabled />
              </div>
              <div class="container mt-2">
                <label for="id-diemdat" style="margin-bottom: 6px">Điểm đặt</label>
                <input type="text" class="form-control" id="id-diemdat" value="ĐỒNG KHỞI - NGUYỄN DU, SỞ VĂN HÓA VÀ THỂ THAO" oninput="updateTitle(this)"  />
              </div>
              <div class="container mt-2 d-flex justify-content-between">
                <div style="width: calc((100% - 2rem) / 2);">
                  <label for="phuong" style="margin-bottom: 6px;">Kinh độ</label> 
                  <input type="text" class="form-control" id="lng" value="0"  />
                </div>
                <div style="width: calc((100% - 2rem) / 2);">
                  <label for="quan" style="margin-bottom: 6px">Vĩ độ</label>
                  <input type="text" class="form-control" id="lat" value="0"  />
                </div>
              </div>
              <div class="container mt-2">
                <label for="diachi" style="margin-bottom: 6px">Địa chỉ</label>
                <input type="text" class="form-control" id="diachi" value="227 Nguyễn Văn Cừ"  />
              </div>
              <div class="container mt-2 d-flex justify-content-between">
                <div style="width: calc((100% - 2rem) / 2);">
                  <label for="phuong" style="margin-bottom: 6px;">Phường</label> 
                  <input type="text" class="form-control" id="phuong" value="Bến Nghé"  />
                </div>
                <div style="width: calc((100% - 2rem) / 2);">
                  <label for="quan" style="margin-bottom: 6px">Quận</label>
                  <input type="text" class="form-control" id="quan" value="Bình Thạnh"  />
                </div>
              </div>
              <div class="container mt-2">
                <label for="loaivitri" style="margin-bottom: 6px">Loại vị trí</label>
                <input type="text" class="form-control" id="loaivitri" value="Đất công/Công viên/Hành lang an toàn giao thông"  />
              </div>
              <div class="container mt-2">
                <label for="htqc" style="margin-bottom: 6px">Hình thức quảng cáo</label>
                <input type="text" class="form-control" id="htqc" value="Quảng cáo thương mại"  />
              </div>
            </div>
        </div>
        <!-- Ly do chinh sua -->
        <div class="container-fluid px-0 mt-4 mb-2 nd-chi-tiet">
            <label for="ttqh" style="margin-bottom: 6px">Thông tin quy hoạch</label>
            <input type="text" class="form-control" id="ttqh" value="Đã quy hoạch" />
        </div>
        <div class="container-fluid px-0 mt-4 mb-2 nd-chi-tiet">
            <label for="lydo" style="margin-bottom: 6px">Chú thích khác</label>
              <textarea class="form-control" id="lydo" 
                style="min-height: 170px">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis vitae dolore debitis soluta ipsa, esse molestias nisi inventore voluptatum non ex sint temporibus odit distinctio maiores repudiandae saepe, iste praesentium veritatis magni ipsum iusto facere? Nobis debitis maiores rerum est distinctio velit et obcaecati harum, qui provident voluptates, officiis laudantium quas! Ex labore excepturi velit eveniet incidunt expedita corrupti illum a, ullam nostrum ducimus, tenetur cumque facilis sapiente, iure magni maxime nihil eum voluptate atque assumenda? Enim quibusdam ratione, quisquam magni esse et placeat? Quasi porro fugit, expedita suscipit, nobis, numquam laboriosam ad nam earum quidem excepturi. Adipisci, ab sapiente?</textarea>
          </div>
          <!-- button -->
          <div class="d-flex flex-row align-items-center justify-content-end" style="gap: 20px; margin-top: 15px;">
            <a href="/so/spots"><button type="button" class="btn btn-success" style="width: 150px;">Xác nhận</button></a>
          </div>
        </div>

      </div>
    </main>

    <!-- Ads list -->

    
    <script defer type="text/javascript" src="/js/ChitietDiemDat.js"></script>
    <script defer type="text/javascript" src="/js/spot-add.js"></script>
  </body>
</html>