<!DOCTYPE html>
<html lang="vi">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%- title %></title>
    <%- include("./partials/head.ejs"); %>
    <link rel="stylesheet" href="/css/carousel.css" />
  </head>
  <%- include("./partials/loader.ejs") %>

  <div class="alert alert-success alert-dismissible fade show mt-3" id="alert-success" role="alert" style="position: fixed; top: 0; left: 0; width: 80%; z-index: 1000; margin-left: 10rem;" hidden>
    <strong>Điểm đặt quảng cáo được tạo thành công!</strong>
    <button type="button" class="btn-close"></button>
  </div>
  
  <div class="alert alert-danger alert-dismissible fade show mt-3" id="alert-danger" role="alert" style="position: fixed; top: 0; left: 0; width: 80%; z-index: 1000; margin-left: 10rem;" hidden>
    <strong>Có lỗi xảy ra khi tạo điểm đặt quảng cáo!</strong>
    <button type="button" class="btn-close"></button>
  </div>
  
  <div class="alert alert-warning alert-dismissible fade show mt-3" id="alert-warning" role="alert" style="position: fixed; top: 0; left: 0; width: 80%; z-index: 1000; margin-left: 10rem;" hidden>
    <strong id="warning-text">Vui lòng nhập đầy đủ và chính xác các trường thông tin!</strong>
    <button type="button" class="btn-close"></button>
  </div>

  <body>
    <header></header>
    <main class="container-fluid d-flex bg-light" style="min-height: 100vh">
      <div class="row"><%- include("./partials/sidebar.ejs", {toolbars: toolbars}); %></div>
      <div class="container-fluid vw-100 pt-1">
        <div class="container border border-dark rounded py-4 px-5 my-5 mx-auto shadow position-relative">
          <!-- Profile -->
          <%- include("./partials/profile_card.ejs"); %>
          <!-- Back button -->
          <%- include("./partials/back_button.ejs"); %>
          <!-- Title -->
          <div class="d-flex flex-row align-items-center" style="gap: 10px">
            <h1 class="fw-bolder m-0 text-uppercase" id="spotTitle"><%= title%></h1>
          </div>

          <!-- Content -->
          <div class="container-fluid nd-chi-tiet px-0 d-flex flex-row justify-content-between mt-4" style="gap: 1rem;">
            <!-- Image chooser -->
            <div class="container-fluid px-0">
              <div class="row position-relative h-100">
                <!-- Badge -->
                <div
                  class="badge border border-dark top-0 start-0 translate-middle position-absolute rounded-pill bg-white text-center"
                  style="width: 50px; height:50px;" hidden>
                  <span class="d-inline-flex align-items-center justify-content-center text-dark fs-5 fw-bold h-100 w-100"
                    id="badge-text">1</span>
                </div>
                <label for="input-image" id="drop-area" class="bg-white rounded-5 p-3">
                  <input type="file" id="input-image" accept="image/*" hidden multiple />
                  <div id="img-view" class="d-flex flex-column align-items-center justify-content-center text-center rounded-4"
                    style="border: 2px dashed #bbb5ff; width: 100%; height: 100%; background: #f7f8ff center; background-size: cover;">
                    <img src="/images/upload-icon.png" alt="Ảnh xem trước" class="img-fluid" />
                    <p class="text-black">Kéo và thả hình vào đây <br>để tải ảnh lên</p>
                    <span class="d-block fw-lighter fs-6 text-body-secondary">Tải ảnh bất kì từ thiết bị</span>
                  </div>
                </label>
              </div>
              <script defer src="/js/uploadImage.js"></script>
            </div>
            <div class="container-fluid px-0 nd-chi-tiet">
              <div class="container">
                <label for="spotName" style="margin-bottom: 6px">Điểm đặt</label>
                <input type="text" class="form-control" id="spotName" value="" placeholder="Tên điểm đặt mới"/>
              </div>
              <div class="container mt-2 d-flex justify-content-between">
                <div style="width: calc((100% - 2rem) / 2);">
                  <label for="longitude" style="margin-bottom: 6px;">Kinh độ</label>
                  <input type="text" class="form-control" id="longitude" value="0" disabled/>
                </div>
                <div style="width: calc((100% - 2rem) / 2);">
                  <label for="latitude" style="margin-bottom: 6px">Vĩ độ</label>
                  <input type="text" class="form-control" id="latitude" value="0" disabled/>
                </div>
              </div>
              <div class="container mt-2">
                <label for="spotAddress" style="margin-bottom: 6px">Địa chỉ</label>
                <input type="text" class="form-control" id="spotAddress" value="227 Nguyễn Văn Cừ" disabled/>
              </div>
              <div class="container mt-2 d-flex justify-content-between">
                <div style="width: calc((100% - 2rem) / 2);">
                  <label for="wardName" style="margin-bottom: 6px;">Phường</label>
                  <input type="text" class="form-control" id="wardName" value="Bến Nghé" disabled/>
                  <input type="text" class="form-control" id="ward" hidden />
                </div>
                <div style="width: calc((100% - 2rem) / 2);">
                  <label for="districtName" style="margin-bottom: 6px">Quận</label>
                  <input type="text" class="form-control" id="districtName" value="Bình Thạnh" disabled/>
                  <input type="text" class="form-control" id="district" hidden />
                </div>
              </div>
              <div class="container mt-2">
                <label for="spotTypeName" style="margin-bottom: 6px">Loại vị trí</label>
                <input type="text" class="form-control" id="spotTypeName" list="spotTypeList" />
                <input type="text" class="form-control" id="spotType" hidden />
                <datalist id="spotTypeList" style="display: none;">
                  <% other.spottypes.forEach((type)=> { %>
                    <option value="<%= type.typeName; %>"></option>
                    <% }); %>
                </datalist>
              </div>
              <div class="container mt-2">
                <label for="adsFormName" style="margin-bottom: 6px">Hình thức quảng cáo</label>
                <input type="text" class="form-control" id="adsFormName" list="adsFormList" />
                <input type="text" class="form-control" id="adsForm" hidden />
                <datalist id="adsFormList" style="display: none;">
                  <% other.adsforms.forEach((form)=> { %>
                    <option value="<%= form.formName; %>"></option>
                    <% }); %>
                </datalist>
              </div>
              <div class="container mt-2">
                <label for="planned" style="margin-bottom: 6px">Thông tin quy hoạch</label>
                <input type="text" class="form-control" id="planned" value="Chưa quy hoạch" list="planList" />
                <datalist id="planList" style="display: none;">
                  <option value="Đã quy hoạch"></option>
                  <option value="Chưa quy hoạch"></option>
                </datalist>
              </div>
            </div>
          </div>
          <!-- Duoi anh -->
          <!-- button -->
          <div class="d-flex flex-row align-items-center justify-content-end" style="gap: 20px; margin-top: 15px;">
            <button type="button" class="btn btn-danger" style="width: 150px;" onclick="window.history.back()">Hủy</button>
            <a href="/so/spots"><button type="button" class="btn btn-success" style="width: 150px;" id="submitBtn">Xác nhận</button></a>
          </div>
        </div>

      </div>
    </main>

    <!-- Ads list -->

    
    <script defer type="text/javascript" src="/js/ChitietDiemDat.js"></script>
    <script defer type="text/javascript" src="/js/spot-new.js"></script>

    <script defer>
      const spottypes = JSON.parse('<%- JSON.stringify(other.spottypes) %>');
      const adsforms = JSON.parse('<%- JSON.stringify(other.adsforms) %>');
      const spottypeInput = document.getElementById('spotTypeName');
      const adsformInput = document.getElementById('adsFormName');
      const spottypeIdInput = document.getElementById('spotType');
      const adsformIdInput = document.getElementById('adsForm');

      spottypeInput.addEventListener('change', (e) => {
        const spottype = spottypes.find(type => type.typeName == spottypeInput.value);
        spottypeIdInput.value = spottype.typeID;
      });
      adsformInput.addEventListener('change', (e) => {
        const adsform = adsforms.find(form => form.formName == adsformInput.value);
        adsformIdInput.value = adsform.formID;
      });
      
      // trigger district + ward change event
      document.addEventListener('DOMContentLoaded', (e) => {
        districtInput.dispatchEvent(new Event('change'));
        wardInput.dispatchEvent(new Event('change'));
      });

      // Hide alert on close
      document.querySelectorAll('.btn-close').forEach((btn) => {
        btn.addEventListener('click', (e) => {
          e.preventDefault();
          e.target.parentElement.hidden = true;
          if (e.target.parentElement.id == 'alert-success') {
            window.location.href = '/so';
          }
        });
      });

    </script>

    <!-- Upload image -->
    <script defer>
      const loader = document.getElementById('loaderContainer');
      let accessToken = null;

      const getAccessToken = async () => {
        const response = await fetch('/imgur');
        const data = await response.json();
        return data.accessToken;
      }

      const upload2Imgur = async (files) => {
        const links = []
        if (!accessToken) {
          accessToken = await getAccessToken();
        }
        for (let i = 0; i < files.length; i++) {
          const formData = new FormData()
          formData.append('image', files[i])
          const headers = new Headers()
          headers.append('Authorization', 'Bearer ' + accessToken)
          const response = await fetch('https://api.imgur.com/3/image', {
            headers: headers,
            method: 'POST',
            body: formData,
            redirect: 'follow'
          });
          const data = await response.json()
          links.push(data.data.link);
        }
        return links;
      }
      const submitHandler = async (e) => {
        e.preventDefault();

        // ... get districtID and wardID ....................
        const districts = JSON.parse('<%- JSON.stringify(other.districts) %>');
        const wards = JSON.parse('<%- JSON.stringify(other.wards) %>');
        const districtInput = document.getElementById('districtName');
        const wardInput = document.getElementById('wardName');
        const districtIdInput = document.getElementById('district');
        const wardIdInput = document.getElementById('ward');

        const district = districts.find(district => district.districtName == districtInput.value);
        districtIdInput.value = (district) ? district.districtID : '';

        const ward = wards.find(ward => (ward.wardName == wardInput.value.trim() && ward.districtID == districtIdInput.value));
        wardIdInput.value = (ward) ? ward.wardID : '';
        // ................................................
        // ... Check valid of fields BEFORE updating images.................
        const spotName = document.getElementById('spotName').value;
        const longitude = document.getElementById('longitude').value;
        const latitude = document.getElementById('latitude').value;
        const address = document.getElementById('spotAddress').value;
        const wardID = document.getElementById('ward').value;
        const districtID = document.getElementById('district').value;
        const spotType = document.getElementById('spotType').value;
        const adsForm = document.getElementById('adsForm').value;
        const planned = document.getElementById('planned').value;

        if(spotName == ''){
          document.getElementById('warning-text').textContent = "Vui lòng nhập TÊN ĐIỂM ĐẶT mới.";
          document.getElementById('alert-warning').hidden = false;
          return;
        }

        if(longitude == '' || latitude == '' || address == ''){
          document.getElementById('warning-text').textContent = "Vui lòng chọn TỌA ĐỘ ĐIỂM ĐẶT trên bản đồ ở TRANG CHỦ.";
          document.getElementById('alert-warning').hidden = false;
          return;
        }

        if(districtID == '' || wardID == ''){
          document.getElementById('warning-text').textContent = "Khu vực (Quận / Phường) bạn chọn không nằm trong quyền quản lý của chúng tôi, vui lòng trờ về TRANG CHỦ chọn điểm mới.";
          document.getElementById('alert-warning').hidden = false;
          return;
        }

        const spottypeList = JSON.parse('<%- JSON.stringify(other.spottypes) %>');
        const adsformList = JSON.parse('<%- JSON.stringify(other.adsforms) %>');

        const spotTypeName = document.getElementById('spotTypeName').value.trim();
        if(spotTypeName == '' || !(spottypeList.some(type => type.typeName === spotTypeName))){
          document.getElementById('warning-text').textContent = "Vui lòng nhập đúng LOẠI VỊ TRÍ.";
          document.getElementById('alert-warning').hidden = false;
          return;
        }

        const adsFormName = document.getElementById('adsFormName').value.trim();
        if(adsFormName == '' || !(adsformList.some(form => form.formName === adsFormName))){
          document.getElementById('warning-text').textContent = "Vui lòng nhập đúng HÌNH THỨC QUẢNG CÁO.";
          document.getElementById('alert-warning').hidden = false;
          return;
        }

        if(planned != 'Đã quy hoạch' && planned != 'Chưa quy hoạch'){
          document.getElementById('warning-text').textContent = "Vui lòng nhập đúng THÔNG TIN QUY HOẠCH.";
          document.getElementById('alert-warning').hidden = false;
          return;
        }

        // ................................................
        const inputImage = document.getElementById('input-image');
        const files = inputImage.files;

        loader.style.display = 'block'; // show loader
        const imgUrls = await upload2Imgur(files);
        // console.log(imgUrls);

        if(imgUrls.length == 0){
          document.getElementById('warning-text').textContent = "Vui lòng tải lên ÍT NHẤT MỘT ẢNH về điểm đặt quảng cáo.";
          document.getElementById('alert-warning').hidden = false;
          loader.style.display = 'none';
          return;
        }
        // ................................................
        const data = {
          spotName: spotName,
          longitude: longitude,
          latitude: latitude,
          address: address,
          wardID: wardID,
          districtID: districtID,
          spotType: spotType,
          adsForm: adsForm,
          planned: (planned == 'Đã quy hoạch') ? 1 : 0,
          spotImage: imgUrls,
        }

        const url = '<%= url %>';
        // const requestUrl = url.replace('/create', '');
        const result = await fetch(url, {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json'
          },
          body: JSON.stringify(data),
        });

        console.log(result);
        if (result.status == 200) {
          document.getElementById('alert-success').hidden = false;
          // clear all input
          document.querySelectorAll('input').forEach((input) => {
            input.value = '';
          });
        } else {
          document.getElementById('alert-danger').hidden = false;
        }

        loader.style.display = 'none';
      }

      document.getElementById('submitBtn').addEventListener('click', submitHandler);
    </script>

  </body>
</html>