<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title><%- title %></title>
    <%- include("./partials/head.ejs"); %>
    <link rel="stylesheet" href="/css/carousel.css"/>
</head>

<body>
<header></header>
<main class="container-fluid d-flex bg-light">
    <div class="row"><%- include("./partials/sidebar.ejs", {toolbars: toolbars}); %></div>
    <div class="container-fluid vw-100 pt-1">
        <div class="container border border-dark rounded py-4 px-5 my-5 mx-auto shadow position-relative">
            <!-- Profile -->
            <%- include("./partials/profile_card.ejs", {user: {name: 'Admin' , level: 'Sở VH-TT' }}); %>
            <!-- Back button -->
            <%- include("./partials/back_button.ejs"); %>
            <!-- Title -->
            <div class="d-flex flex-row align-items-center" style="gap: 10px">
                <h1 class="fw-bolder m-0 text-uppercase"><%= spotTitle %></h1>
            </div>

            <!-- Content -->
            <div class="container-fluid nd-chi-tiet px-0 d-flex flex-row justify-content-between mt-4"
                 style="gap: 1rem;">
                <!-- Carousel -->
                <%- include("./partials/carousel.ejs",
                {imgUrls: imgUrls}); %>
                <div class="container-fluid px-0 nd-chi-tiet">
                    <div class="container d-flex justify-content-between">
                        <h4 style="font-weight: bold; margin: 0; height: fit-content; align-self: center;">Chi tiết điểm
                            đặt</h4>
                        <% const [baseUrl, queryParams] = url.split('?'); %>
                        <a href="<%= baseUrl + '/modify?' + queryParams %>" class="btn btn-primary" tabindex="-1"
                           role="button"
                           aria-disabled="true">Yêu cầu chỉnh sửa</a>
                    </div>
                    <div class="container mt-4">
                        <label for="spotId" style="margin-bottom: 6px">ID Điểm đặt</label>
                        <input type="text" class="form-control" id="spotId" value='<%= spotId %>' disabled/>
                    </div>
                    <div class="container mt-2">
                        <label for="address" style="margin-bottom: 6px">Địa chỉ</label>
                        <input type="text" class="form-control" id="address" value='<%= address %>' disabled/>
                    </div>
                    <div class="container mt-2 d-flex justify-content-between">
                        <div style="width: calc((100% - 2rem) / 2);">
                            <label for="ward" style="margin-bottom: 6px;">Phường</label>
                            <input type="text" class="form-control" id="ward" value='<%= ward %>' disabled/>
                        </div>
                        <div style="width: calc((100% - 2rem) / 2);">
                            <label for="district" style="margin-bottom: 6px">Quận</label>
                            <input type="text" class="form-control" id="district" value='<%= district %>' disabled/>
                        </div>
                    </div>
                    <div class="container mt-2">
                        <label for="location-type" style="margin-bottom: 6px">Loại vị trí</label>
                        <input type="text" class="form-control" id="location-type"
                               value='<%= locationType %>' disabled/>
                    </div>
                    <div class="container mt-2">
                        <label for="ads-type" style="margin-bottom: 6px">Hình thức quảng cáo</label>
                        <input type="text" class="form-control" id="ads-type" value='<%= adsType %>' disabled/>
                    </div>
                    <div class="container mt-2">
                        <label for="plan" style="margin-bottom: 6px">Thông tin quy hoạch</label>
                        <input type="text" class="form-control" id="plan" value='<%= plan %>' disabled/>
                    </div>
                </div>
            </div>
            <!-- Ads list -->
            <div class="mt-5 mb-2" style="font-size: 20px; font-weight: bold;">Danh sách bảng quảng cáo</div>
            <% const basePath = url.split('/').splice(0, 3).join('/'); %>
            <%- include("./partials/table.ejs", {linkDetails: {basePath, category: 'board'}, tableHeads: boardsTableHeads, tableData: boardsTableData}); %>
        </div>
    </div>
</main>


<script defer type="text/javascript" src="/js/ChitietDiemDat.js"></script>
</body>
</html>
