<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title><%- title %></title>
    <%- include('../partials/head.ejs') %>
    <!-- <style>
      table th .th-inner {
        height: 100%;
        text-wrap: wrap!important;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    </style> -->
</head>

<body>
<header></header>
<main class="container-fluid d-flex bg-light">
    <div class="row"><%- include('../partials/sidebar.ejs', { toolbars: toolbars }) %></div>
    <div class="container-fluid vw-100 pt-1">
        <div class="container border border-dark rounded py-4 px-5 my-5 mx-auto shadow position-relative">
            <!-- Profile -->
            <%- include("../partials/profile_card.ejs", {user: {name: 'John Doe' , level: 'Quận 2' }}); %>

            <!-- Title -->
            <div class="d-block mb-3">
                <h1 class="fw-bolder">QUẢN LÝ BÁO CÁO VI PHẠM</h1>
            </div>
            <!-- Check box -->
            <div class="container-fluid checkbox-container">
                <div class="d-inline-block pb-2" style="padding-left: 15px">
                    <h1 style="color: #1f274a; font-size: 22px; font-weight: 500">QUẬN 2</h1>
                </div>
                <div class="container-fluid d-flex flex-wrap">
                    <% for (let i = 1; i <= 12; i++) { %>
                        <div class="form-check me-4 mb-3" style="min-width: 9rem;">
                            <input
                                    type="checkbox"
                                    class="form-check-input"
                                    id="check<%= i %>"
                                    name="option<%= i %>"
                                    value="something"
                                    checked/>
                            <label class="form-check-label" for="check<%= i %>">Phường <%= i %></label>
                        </div>
                    <% } %>
                </div>
            </div>
            <!-- Select -->
            <div class="container-fluid mt-3 ps-0">
                <div class="d-flex flex-row align-items-center gap-2" style="position: relative">
                    <div class="d-flex flex-row align-items-center gap-2" style="position: relative">
                        <div>Đối tượng:</div>
                        <%- include("../partials/select.ejs", {current: 0, options: [ {
                        name: 'Tất cả' , link: '#' }, { name: 'Điểm đặt' , link: '#' }, { name: 'Bảng quảng cáo' , link: '#' }
                        ]}); %>
                        <div class="ms-5">Trạng thái</div>
                        <%- include("../partials/select.ejs", {current: 0, options: [ {
                        name: 'Tất cả' , link: '#' }, { name: 'Chưa xử lý' , link: '#' }, { name: 'Đang xử lý' , link: '#' }, {name: "Đã xử lý", link: "#"},
                        ]}); %>
                    </div>
                </div>

            </div>
            <!-- Table -->
            <table data-toggle="table" data-search="true" data-pagination="true"
                   data-page-list="[10, 25, 50, 100, all]" data-locale="vi-VN" data-buttons-class="primary"
                   data-buttons="buttons"
                   data-show-button-text="true" data-icon-prefix="bi"
                   class="table table-bordered table-hover table-striped table-responsive-md rounded" smart-display>
                <thead>
                <tr class="row m-0">
                    <th class="col-1" data-sortable="true" data-align="center" data-field="id1">ID Báo cáo</th>
                    <th class="col-1" data-sortable="true" data-align="center" data-field="phuong">Phường</th>
                    <th class="col-1" data-sortable="true" data-field="id2">ID Điểm đặt/Bảng QC</th>
                    <th class="col-2" data-sortable="true" data-field="lhbc">Loại hình báo cáo</th>
                    <th class="col-2" data-sortable="true" data-field="name">Họ tên người gửi</th>
                    <th class="col-1" data-sortable="true" data-field="email">Email</th>
                    <th class="col-1" data-sortable="true" data-field="time">Thời điểm gửi</th>
                    <th class="col-2" data-sortable="true" data-align="center" data-field="state">Trạng thái</th>
                    <th class="col-1" data-align="center" data-field="detail">Chi tiết</th>
                </tr>
                </thead>
                <tbody>
                <% for (let i = 1; i <= 55; i++) { %>
                    <tr class="row m-0">
                        <td>BC0155001</td>
                        <td>
                            <%= i %>
                        </td>
                        <td>QC0614001</td>
                        <td>Lorem ipsum dolor sit amet.</td>
                        <td>Lorem ipsum dolor.</td>
                        <td>Lorem ipsum dolor sit.</td>
                        <td>25/12/2023</td>
                        <td>
                            <% if (i % 3 === 1) { %>
                                <div class="d-inline-block p-1"
                                     style="background-color: #ff3838; border-radius: 8px; min-width: 6rem; color: white;">
                                    Chưa xử lý
                                </div>
                            <% } else if (i % 3 === 2) { %>
                                <div class="d-inline-block p-1"
                                     style="background-color: #58f; border-radius: 8px; min-width: 6rem; color: white;">
                                    Đang xử lý
                                </div>
                            <% } else { %>
                                <div class="d-inline-block p-1"
                                     style="background-color: #41ff54; border-radius: 8px; min-width: 6rem; color: white;">
                                    Đã xử lý
                                </div>
                            <% } %>
                        </td>
                        <td>
                            <div class="d-flex flex-row align-items-center justify-content-center">
                                <a href="/quan/report/123">
                                    <img src="/images/info.svg" alt="edit-icon"
                                         style="background-color: transparent"/>
                                </a>
                            </div>
                        </td>
                    </tr>
                <% } %>
                </tbody>
            </table>

            <!-- Modal add -->
            <div class="modal fade" id="addModal-htbc" tabindex="-1" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header pb-3 border-0">
                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                        </div>
                        <div class="modal-body pt-1 pb-2" style="border: none">
                            <h5 class="modal-title pb-2"
                                style="font-size: 22px; font-weight: 700; text-align: center">
                                THÊM HÌNH THỨC BÁO CÁO
                            </h5>
                            <form>
                                <div class="mb-3">
                                    <label for="loai-htbc" class="col-form-label mb-1">Hình thức:<span
                                                class="text-danger">*</span></label>
                                    <input type="text" class="form-control" id="loai-htbc" required/>
                                </div>
                                <div class="mb-3">
                                    <label for="mota-htbc" class="col-form-label mb-1">Mô tả:<span
                                                class="text-danger">*</span></label>
                                    <textarea class="form-control" id="mota-htbc" required></textarea>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer pt-1 d-flex justify-content-around border-0"
                             style="background-color: #f7fafc">
                            <button type="button" class="btn"
                                    style="min-width: 6.5rem; background-color: #3c77ff; color: #f7fafc">
                                Thêm
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
</body>

</html>