<a href='<%= url || "" %>' data-bs-target='<%= target || "" %>' data-bs-toggle='<%= toggle || "" %>' data-bs-dismiss='<%= dismiss || "false"%>' class='<%= aClass || ""%> text-decoration-none'>
    <img src='<%= imgSrc %>' alt='<%= imgAlt %>' class='<%= imgClass %>'>
</a>