<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title><%- title %></title>
    <%- include('../partials/head.ejs') %>
</head>

<body>
<header></header>
<main class="container-fluid d-flex bg-light">
    <div class="row"><%- include('../partials/sidebar.ejs', { toolbars: toolbars }) %></div>
    <div class="container-fluid vw-100 pt-1">
        <div class="container border border-dark rounded py-4 px-5 my-5 mx-auto shadow position-relative">
            <!-- Profile -->
            <%- include("../partials/profile_card.ejs", {user: {name: 'Admin' , level: 'Sở VH-TT' }}); %>

            <!-- Title -->
            <div class="d-block">
                <h1 class="fw-bolder">PHÂN CÔNG TÀI KHOẢN</h1>
            </div>
            <!-- Select -->
            <div class="container-fluid mt-3 ps-0">
                <div class="d-flex flex-row align-items-center gap-2 position-relative">
                    <div class="d-flex flex-row align-items-center gap-2 position-relative">
                        <%- include("../partials/info_card.ejs", { title: "Số lượng tài khoản", value: totalOfficers, color: "#00b285" }); %>
                        <%- include("../partials/info_card.ejs", { title: "Đã phân công", value: numberOfAssignedOfficers, color: "#d59633" }); %>
                        
                    </div>
                </div>
            </div>
            <!-- Table -->
            <% const keys = Object.keys(tableData[0]) %>
            <table data-toggle="table" data-search="true" data-pagination="true" data-page-list="[10, 25, 50, 100, all]"
                   data-locale="vi-VN" data-buttons-class="primary" data-buttons="buttons" data-show-button-text="true"
                   data-icon-prefix="bi"
                   class="table table-bordered table-hover table-striped table-responsive-md rounded" smart-display>
                <thead>
                <tr>
                    <% for (let i = 0; i < tableHeads.length; i++) { %>
                        <th data-field="<%= keys[i] %>" data-align="center" data-sortable="true">
                            <%= tableHeads[i] %>
                        </th>
                    <% } %>
                    <th data-align="center" data-field="actions">
                        Hành động
                    </th>
                </tr>
                </thead>
                <tbody>
                <% tableData.forEach(function(account, index) { %>
                    <tr>
                        <td><%= index + 1 %></td>
                        <td><%= account.username %></td>
                        <td><%= account.position %></td>
                        <td><%= account.district !== '' ? 'Quận ' + account.district : '' %></td>
                        <td><%= account.ward !== '' ? 'Phường ' + account.ward : '' %></td>
                        <td>
                            <div class="d-flex flex-row align-items-center justify-content-center action-icons bg-transparent">
                                <% if (!account.isAssigned) { %>
                                    <button type="button" class="btn btn-success border-0 text-wrap text-center"
                                            data-bs-toggle="modal"
                                            data-bs-target="#modal<%= index %>"
                                            style="width: 70%; background-color: #60c98b;">Phân công
                                    </button>
                                <% } else { %>
                                    <a href="" data-bs-toggle="modal" data-bs-target="#modal<%= index %>"
                                       class="mx-3 bg-transparent">
                                        <img src="/images/edit.svg" alt="edit-icon">
                                    </a>
                                    <a href="" onclick="deleteAccount('<%= account.username %>')" class="mx-3 bg-transparent">
                                        <img src="/images/remove.svg" onclick="" alt="remove-icon">
                                    </a>
                                <% } %>
                            </div>
                        </td>
                    </tr>
                    <!-- Modal edit -->
                    <div class="modal fade" id="modal<%= index %>" tabindex="-1" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header pb-3 border-0">
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                </div>
                                <div class="modal-body pt-1 pb-2 border-0">
                                    <h5 class="modal-title pb-2 text-center fw-bold fs-4">
                                        CẤP QUYỀN CHO <span style="color: #355ded;"><%= account.username %></span>
                                    </h5>
                                    <form>
                                        <div class="d-flex justify-content-between">
                                            <div class="mb-3 d-flex justify-content-between flex-fill">
                                                <label for="maloai-lhqc" class="col-form-label mb-1">Quận:</label>
                                                <div class="dropdown justify-content-end px-1 flex-fill"
                                                     style="height: 2.2rem;">
                                                    <select class="form-select" aria-label="Default select example"
                                                            style="width: 95%;"
                                                            onfocus='this.size=5;' onblur='this.size=1;'
                                                            onchange='this.size=1; this.blur(); changeWards(this.value);'>
                                                        <option value="<%= account.districtID %>" selected><%= account.district ? 'Quận ' + account.district : 'Chọn quận' %> </option>
                                                        <% districts.forEach((district) => { %>
                                                            <option value="<%= district.districtID %>">Quận <%= district.districtName %></option>
                                                        <% }) %>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="mb-3 d-flex justify-content-between flex-fill">
                                                <label for="loai-lhqc" class="col-form-label mb-1">Phường:</label>
                                                <div class="dropdown justify-content-end px-1 flex-fill"
                                                     style="height: 2.2rem;">
                                                    <select class="form-select" id="wardSelect" aria-label="Default select example"
                                                            style="width: 95%;"
                                                            onfocus='this.size=5;' onblur='this.size=1;'
                                                            onchange='this.size=1; this.blur();'>
                                                        <option value="<%= account.wardID %>" selected><%= account.ward ? 'Phường ' + account.ward : 'Chọn phường' %></option>
                                                        <% wards.forEach((ward) => { %>
                                                            <% if(ward.districtID === account.districtID) { %>
                                                                <option value="<%= ward.wardID %>">Phường <%= ward.wardName %></option>
                                                            <% } %>
                                                        <% }) %>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>

                                <div class="modal-footer pt-1 d-flex justify-content-around border-0"
                                     style="background-color: #f7fafc">
                                    <button type="button" class="btn" data-bs-dismiss="modal"
                                            style="min-width: 6.5rem; background-color: #e84747; color: #f7fafc">
                                        Hủy
                                    </button>
                                    <button type="button" class="btn"
                                            style="min-width: 6.5rem; background-color: #3c77ff; color: #f7fafc">
                                        Xác nhận
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                <% }); %>
                </tbody>
            </table>

            <!-- Modal add -->
            <%- include('../partials/modal.ejs',
            {modal_id: 'addModal-pc',
            sub_title: 'Hãy điền tên tài khoản (Mật khẩu sẽ được tạo ngẫu nhiên)',
            title: 'Tạo tài khoản',
            components: [
            {label: 'Tên tài khoản', type: 'text', id: 'input1', required: true}],
            buttons: [
            {label: 'Hủy', color: '#e84747', dismiss: true},
            {label: 'Thêm', color: '#3c77ff', dismiss: false}]
            }) %>

        </div>
    </div>
</main>
<script>
    const deleteAccount = async (username) => {
        console.log(`/so/assign/${username}`);
        try {
            const response = await fetch(`/so/assign/${username}`, {
                method: 'DELETE',
                headers: {
                    'Content-Type': 'application/json',
                    // Add any additional headers as needed
                },
            });
        } catch (error) {
            console.error('Error during DELETE request:', error.message);
        }
    };
    

    const changeWards = async (selectedDistrict) => {
        // console.log(selectedDistrict);
        const response = await fetch(`/so/getWards`, {
                method: 'GET',
                headers: {
                    'Content-Type': 'application/json',
                    // Add any additional headers as needed
                },
            });
        const wards = await response.json();
        console.log(wards);
        let wardSelectTag = document.querySelector("#wardSelect");
        wardSelectTag.setAttribute('id','abc');
        wardSelectTag.innerHTML = "";
        // wardSelect.append('<option value="" selected>Chọn phường</option>');
        // wards.forEach((ward) => { 
        //     if (ward.districtID === selectedDistrict) {
        //         const option = document.createElement('option');
        //         option.value = ward.wardID;
        //         option.textContent = `Phường ${ward.wardName}`;
        //         wardSelect.append(option);
        //     }
        // }) 
    }
</script>

</body>

</html>
