<!DOCTYPE html>
<html lang="vi">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%- title %></title>
    <%- include("../partials/head.ejs"); %>
    <link rel="stylesheet" href="/css/carousel.css" />
  </head>

  <body>
    <header></header>
    <main class="container-fluid d-flex bg-light">
      <div class="row"><%- include("../partials/sidebar.ejs", {toolbars: toolbars}); %></div>
      <div class="container-fluid vw-100 pt-1">
        <div class="container border border-dark rounded py-4 px-5 my-5 mx-auto shadow position-relative">
          <!-- Profile -->
          <%- include("../partials/profile_card.ejs", {user: {name: 'Admin' , level: 'Sở VH-TT' }}); %>
          <!-- Back button -->
          <%- include("../partials/back_button.ejs"); %>
          <!-- Title -->
          <div class="d-flex flex-row align-items-center" style="gap: 10px">
            <h1 class="fw-bolder m-0">CHỈNH SỬA BẢNG QUẢNG CÁO</h1>
          </div>

          <!-- Content -->
          <div class="container-fluid nd-chi-tiet px-0 d-flex flex-row justify-content-between mt-4" style="gap: 1rem;">
            <div class="container-fluid px-0">
              <div class="row">
                <img id="mainImage" src="https://placeholder.pics/svg/600x400/DEDEDE/555555/Image%201" alt="Current Image">
              </div>
              <div class="row mx-auto my-auto justify-content-center mt-2">
                <div id="recipeCarousel" class="carousel slide px-0" data-bs-ride="carousel">
                  <div class="carousel-inner pt-2" role="listbox">
                    <div class="carousel-item active">
                      <div class="col-lg-4 col-md-6 me-3">
                        <div class="card">
                          <div class="card-img">
                            <img src="https://placeholder.pics/svg/600x400/DEDEDE/555555/Image%201" class="img-fluid" />
                            <a class="top-0 start-100 position-absolute translate-middle" href="#"><img src="/images/remove_sign.svg" alt=""></a>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="carousel-item">
                      <div class="col-lg-4 col-md-6 me-3">
                        <div class="card">
                          <div class="card-img">
                            <img src="https://placeholder.pics/svg/600x400/DEDEDE/555555/Image%202" class="img-fluid" />
                            <a class="top-0 start-100 position-absolute translate-middle" href="#"><img src="/images/remove_sign.svg" alt=""></a>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="carousel-item">
                      <div class="col-lg-4 col-md-6 me-3">
                        <div class="card">
                          <div class="card-img">
                            <img src="https://placeholder.pics/svg/600x400/DEDEDE/555555/Image%203" class="img-fluid" />
                            <a class="top-0 start-100 position-absolute translate-middle" href="#"><img src="/images/remove_sign.svg" alt=""></a>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="carousel-item">
                      <div class="col-lg-4 col-md-6 me-3">
                        <div class="card">
                          <div class="card-img">
                            <img src="https://placeholder.pics/svg/600x400/DEDEDE/555555/Image%204" class="img-fluid" />
                            <a class="top-0 start-100 position-absolute translate-middle" href="#"><img src="/images/remove_sign.svg" alt=""></a>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="carousel-item">
                      <div class="col-lg-4 col-md-6 me-3">
                        <div class="card">
                          <div class="card-img">
                            <img src="https://placeholder.pics/svg/600x400/DEDEDE/555555/Image%205" class="img-fluid" />
                            <a class="top-0 start-100 position-absolute translate-middle" href="#"><img src="/images/remove_sign.svg" alt=""></a>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="carousel-item">
                      <div class="col-lg-4 col-md-6 me-3">
                        <div class="card">
                          <div class="card-img">
                            <img src="https://placeholder.pics/svg/600x400/DEDEDE/555555/Image%206" class="img-fluid" />
                            <a class="top-0 start-100 position-absolute translate-middle" href="#"><img src="/images/remove_sign.svg" alt=""></a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <a class="carousel-control-prev bg-transparent w-aut" href="#recipeCarousel" role="button" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  </a>
                  <a class="carousel-control-next bg-transparent w-aut" href="#recipeCarousel" role="button" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  </a>
                </div>
              </div>
            </div>
            <div class="container-fluid px-0 nd-chi-tiet d-flex flex-wrap">
              <div class="container d-flex justify-content-between">
                <h4 style="font-weight: bold; margin: 0; height: fit-content; align-self: center;">Chi tiết bảng quảng cáo</h4>
                <a href="#"><img src="/images/cancel.svg" alt="edit-icon"></a>  
              </div>
              <div class="container mt-2 d-flex justify-content-between">
                <div style="width: calc((100% - 2rem) / 2);">
                  <label for="id-quangcao" style="margin-bottom: 6px;">ID Quảng cáo</label>                  
                  <input type="text" class="form-control" id="id-quangcao" value="B0155001"  />
                </div>
                <div style="width: calc((100% - 2rem) / 2);">
                  <label for="id-diemdat" style="margin-bottom: 6px">ID Điểm đặt</label>
                  <input type="text" class="form-control" id="id-diemdat" value="D0155001"  />
                </div>
              </div>
              <div class="container mt-2">
                <label for="diachi" style="margin-bottom: 6px">Địa chỉ điểm đặt</label>
                <input type="text" class="form-control" id="diachi" value="227 Nguyễn Văn Cừ"  />
              </div>
              <div class="container mt-2">
                <label for="compName" style="margin-bottom: 6px">Công ty yêu cầu cấp phép</label>
                <input type="text" class="form-control" id="compName" value="Công ty Cổ phần CivicAds Việt Nam"  />
              </div>
              <div class="container mt-2 d-flex justify-content-between">
                <div style="width: calc((100% - 2rem) / 2);">
                  <label for="compPhone" style="margin-bottom: 6px;">Số điện thoại</label>                  
                  <input type="text" class="form-control" id="compPhone" value="09391389139"  />
                </div>
                <div style="width: calc((100% - 2rem) / 2);">
                  <label for="compEmail" style="margin-bottom: 6px">Email</label>
                  <input type="text" class="form-control" id="compEmail" value="civicads@gmail.com"  />
                </div>
              </div>
              <div class="container mt-2">
                <label for="compAdress" style="margin-bottom: 6px">Địa chỉ công ty</label>
                <input type="text" class="form-control" id="compAdress" value="123 Nguyễn Thị Minh Khai, Phường 3, Quận 3, Thành phố Hồ Chí Minh, Việt Nam"  />
              </div>
              <div class="container mt-2 d-flex justify-content-between">
                <div style="width: calc((100% - 2rem) / 2);">
                  <label for="startDate" style="margin-bottom: 6px;">Thời gian bắt đầu hợp đồng</label>                  
                  <div class="input-group date" id="datepicker">
                    <input type="text" class="form-control" id="startDate" value="01-01-2023"/>
                    <span class="input-group-append">
                      <span class="input-group-text h-100">
                        <i class="fa fa-calendar" style="background-color: transparent;"></i>
                      </span>
                    </span>
                  </div>
                </div>
                <div style="width: calc((100% - 2rem) / 2);">
                  <label for="endDate" style="margin-bottom: 6px">Thời gian kết thúc hợp đồng</label>
                  <div class="input-group date" id="datepicker">
                    <input type="text" class="form-control" id="endDate" value="31-12-2023"/>
                    <span class="input-group-append">
                      <span class="input-group-text h-100">
                        <i class="fa fa-calendar" style="background-color: transparent;"></i>
                      </span>
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Dưới ảnh -->
          <div class="container-fluid px-0 mt-4 mb-2 nd-chi-tiet">
            <div class="container mt-2 d-flex justify-content-between">
              <div style="width: calc((100% - 3rem) / 3);">
                <label for="adsType" style="margin-bottom: 6px;">Loại quảng cáo</label>                  
                <input type="text" class="form-control" id="adsType" value="Trụ bảng hiflex"  />
              </div>
              <div style="width: calc((100% - 3rem) / 3);">
                <label for="count" style="margin-bottom: 6px">Số lượng</label>
                <input type="text" class="form-control" id="count" value="1 trụ / bảng"  />
              </div>
              <div style="width: calc((100% - 3rem) / 3);">
                <label for="size" style="margin-bottom: 6px">Kích thước</label>
                <input type="text" class="form-control" id="size" value="2.5m x 10m"  />
              </div>
            </div> 
            <div class="container mt-2 d-flex justify-content-between">
              <div style="width: calc((100% - 2rem) / 2);">
                <label for="locationType" style="margin-bottom: 6px;">Phân loại</label>                  
                <input type="text" class="form-control" id="locationType" value="Đất công / Công viên / Hành lang an toàn giao thông"  />
              </div>
              <div style="width: calc((100% - 2rem) / 2);">
                <label for="adsForm" style="margin-bottom: 6px">Hình thức</label>
                <input type="text" class="form-control" id="adsForm" value="Cổ động chính trị"  />
              </div>
            </div>
            <div class="container mt-2 custom-col">
              <label for="nd-baocao" style="margin-bottom: 6px">Nội dung báo cáo</label>
              <textarea class="form-control" id="nd-baocao" 
                style="min-height: 100px">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Culpa quod perspiciatis numquam soluta adipisci aperiam magni? Iure laborum esse aperiam totam, laboriosam voluptatibus neque perferendis quas fugit voluptatem laudantium expedita. Natus veritatis illo harum voluptas deleniti, voluptate possimus hic eveniet itaque sunt dolor adipisci corporis? Quisquam perferendis exercitationem quas. Ab.</textarea>
            </div>
            <div class="container mt-2">
                <label for="lydo" style="margin-bottom: 6px">Lý do chỉnh sửa</label>
                <textarea class="form-control" id="lydo" 
                    style="min-height: 170px">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis vitae dolore debitis soluta ipsa, esse molestias nisi inventore voluptatum non ex sint temporibus odit distinctio maiores repudiandae saepe, iste praesentium veritatis magni ipsum iusto facere? Nobis debitis maiores rerum est distinctio velit et obcaecati harum, qui provident voluptates, officiis laudantium quas! Ex labore excepturi velit eveniet incidunt expedita corrupti illum a, ullam nostrum ducimus, tenetur cumque facilis sapiente, iure magni maxime nihil eum voluptate atque assumenda? Enim quibusdam ratione, quisquam magni esse et placeat? Quasi porro fugit, expedita suscipit, nobis, numquam laboriosam ad nam earum quidem excepturi. Adipisci, ab sapiente?</textarea>
            </div>
          </div>
          <!-- button -->
          <div class="d-flex flex-row align-items-center justify-content-end" style="gap: 20px; margin-top: 15px; padding: 0 12px;">
            <a href="/so/boards"><button type="button" class="btn btn-danger" style="width: 130px;">Hủy</button></a>
            <a href="/so/boards"><button type="button" class="btn btn-success" style="width: 150px;">Gửi yêu cầu</button></a>
          </div>
        </div>
      </div>
    </main>

    <!-- Ads list -->

    
    <script defer type="text/javascript" src="/js/ChitietDiemDat.js"></script>
  </body>
</html>
