<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title><%- title %></title>
    <%- include("../partials/head.ejs"); %>
</head>

<body>
<header></header>
<main class="container-fluid d-flex bg-light">
    <div class="row"><%- include("../partials/sidebar.ejs", {toolbars: toolbars}); %></div>
    <div class="container-fluid vw-100 pt-1">
        <div class="container border border-dark rounded py-4 px-5 my-5 mx-auto shadow position-relative">
            <!-- Profile -->
            <%- include("../partials/profile_card.ejs", {user: {name: 'Admin', level: 'Sở VH-TT'}}); %>
            <!-- Title -->
            <div class="d-block">
                <h1 class="fw-bolder">LOẠI HÌNH QUẢNG CÁO</h1>
            </div>
            <!-- Select -->
            <div class="container-fluid mt-3 ps-0">
                <div class="d-flex flex-row align-items-center gap-2" style="position: relative">
                    <%- include("../partials/select.ejs", {current: 'Loại hình quảng cáo', options: [
                    { name: 'Loại hình quảng cáo', link: '/so/lhqc' },
                    { name: 'Hình thức báo cáo', link: '/so/htbc' },
                    ]}); %>

                    <%- include("../partials/info_card.ejs", {title: 'Mới nhất', value: 'Loại hình A', color: '#00b285'}); %>
                    <%- include("../partials/info_card.ejs", {title: 'Yêu cầu mới nhất', value: 'Loại hình B', color: '#d59633'}); %>
                </div>
            </div>
            <!-- Table -->
            <table data-toggle="table" data-search="true" data-pagination="true" data-page-list="[10, 25, 50, 100, all]"
                   data-locale="vi-VN" data-buttons-class="primary" data-buttons="buttons" data-show-button-text="true"
                   data-icon-prefix="bi"
                   class="table table-bordered table-hover table-striped table-responsive-md rounded" smart-display>
                <thead>
                <tr class="row m-0">
                    <th class="col-1" data-sortable="true" data-align="center" data-field="no">No</th>
                    <th class="col-1" data-sortable="true" data-align="center" data-field="id">Mã loại</th>
                    <th class="col-3" data-sortable="true" data-field="name">Loại</th>
                    <th class="col-5" data-sortable="true" data-field="desc">Mô tả</th>
                    <th class="col-2" data-field="action">Hành động</th>
                </tr>
                </thead>
                <tbody>
                <% let maLoai = "L00" %>
                <% for (let i = 1; i <= 55; i++) { %>
                    <tr class="row m-0">
                        <td><%= i %></td>
                        <td><%= maLoai + String(i) %></td>
                        <td>Lorem ipsum dolor sit amet.</td>
                        <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus, earum!</td>
                        <td>
                            <div class="d-flex flex-row align-items-center justify-content-center action-icons bg-transparent">
                                <a href="" data-bs-toggle="modal" data-bs-target="#editModal-lhqc<%= i %>">
                                    <img src="/images/edit.svg" alt="edit-icon" style="background-color: transparent"/>
                                </a>
                                <a href="#" class="mx-3">
                                    <img src="/images/remove.svg" alt="edit-icon"
                                         style="background-color: transparent"/>
                                </a>
                                <!-- Button trigger modal edit -->
                                <a href="#">
                                    <img src="/images/info.svg" alt="edit-icon" style="background-color: transparent"/>
                                </a>

                                <!-- Modal edit -->
                                <%-
                                include('../partials/modal.ejs', {
                                modal_id: 'editModal-lhqc' + i,
                                title: 'CHỈNH SỬA LOẠI HÌNH QUẢNG CÁO',
                                components:
                                [ { id: 'maloai-lhqc' + i, label: 'Mã loại', required: true, type: 'text', disabled: true, value: maLoai + String(i) },
                                { id: 'loai-lhqc' + i, label: 'Loại', required: true, type: 'text' },
                                { id: 'mota-lhqc' + i, label: 'Mô tả', required: true, type: 'textarea' }, ],
                                buttons: [ { label: 'Hủy', color: '#e84747', dismiss: true },
                                { label: 'Xác nhận', color: '#3c77ff', dismiss: true }, ],
                                })
                                %>

                            </div>
                        </td>
                    </tr>
                <% } %>
                </tbody>
            </table>
            <!-- Modal add -->
            <%- include('../partials/modal.ejs', {
            modal_id: 'addModal-lhqc',
            title: 'THÊM LOẠI HÌNH QUẢNG CÁO',
            components:
            [ { id: 'loai-lhqc', label: 'Loại', required: true, type: 'text' },
            { id: 'mota-lhqc', label: 'Mô tả', required: true, type: 'textarea' }, ],
            buttons: [ { label: 'Thêm', color: '#3c77ff', dismiss: false }, ],
            }) %>
        </div>
    </div>
</main>
</body>

</html>
