<!DOCTYPE html>
<html lang="vi">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title><%- title %></title>
  <%- include("../partials/head.ejs"); %>
</head>

<body>
  <%- include("../partials/loader.ejs"); %>
  <header></header>
  <main class="container-fluid d-flex bg-light" style="min-height: 100vh">
    <div class="row"><%- include("../partials/sidebar.ejs", {toolbars: toolbars}); %></div>
    <div class="container-fluid vw-100 pt-1">
      <% if (typeof message !== undefined) {%>
      <% if (message.success) {%>
      <div class="alert alert-success alert-dismissible position-absolute top-0 start-50" role="alert">
        <strong>Thành công!</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>

      </div>
      <% } else if (message.error) {%>
      <div class="alert alert-danger alert-dismissible position-absolute top-0 start-50" role="alert">
        <strong>Thất bại!</strong> <%= message.error %>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      <% } %>
      <% } %>
      <div class="container border border-dark rounded py-4 px-5 my-5 mx-auto shadow position-relative">
        <!-- Profile -->
        <%- include("../partials/profile_card.ejs"); %>
        <!-- Title -->
        <div class="d-block">
          <h2 class="fw-bolder text-uppercase">
            <%= title %>
          </h2>
        </div>
        <!-- Select -->
        <div class="container-fluid mt-3 ps-0">
          <div class="d-flex flex-row align-items-center gap-2 position: relative">
            <div class="d-flex flex-row align-items-center gap-2 position-relative">
              <%- include("../partials/info_card.ejs", {title: 'Tổng số quận' , value: tableData.length,
                    color: '#00b285' }); %>
              <%- include("../partials/info_card.ejs", {title: 'Tổng số phường' , value: totalWard,
                    color: '#e84747'}); %>
              <%- include("../partials/info_card.ejs", {title: 'Tổng số điểm quảng cáo' , value: totalSpot,
                    color: '#d59633' }); %>
              <%- include("../partials/info_card.ejs", {title: 'Tổng số bảng quảng cáo' , value: totalBoard,
                    color: '#ae57ff' }); %>
            </div>
          </div>
        </div>
        <!-- Content -->
        <div class="container-listbar d-flex flex-row" style="gap: 1rem">
          <!-- Left Bar -->
          <div class="d-inline-block list-bar">
            <div class="title py-2">QUẬN / HUYỆN</div>
            <!-- List District -->
            <div class="list-district scroll">
              <% tableData.forEach(item=> { %>
              <a href="/so/locations-detail?quan=<%= item.districtID %>" style="text-decoration: none">
                <div class="district-box d-flex">
                  <span style="margin: 0 auto; background-color: rgba(255, 255, 255, 0)">
                    <%= item.districtName %>
                  </span>
                  <i class="fa-solid fa-chevron-right fa-2xs"></i>
                </div>
              </a>
              <% });%>
            </div>
            <a href="/so/locations" style="font-size: 14px">Xem chi tiết danh sách QUẬN</a>
          </div>
          <!-- Table -->
          <div class="container-fluid d-inline-block ps-0" style="width: 80%; padding: 0; margin: 0">
            <table id="table" data-toggle="table" data-search="true" data-pagination="true" data-page-list="[10, 25, 50, 100, all]" data-locale="vi-VN" data-buttons-class="primary" data-buttons="buttons" data-show-button-text="true" data-icon-prefix="bi" class="table table-bordered table-hover table-striped table-responsive-md rounded" smart-display>
              <thead>
                <tr>
                  <th data-align="center" data-field="index" data-sortable="true" data-width-unit="%" data-width="25">
                    Mã Quận
                  </th>
                  <th data-align="center" data-field="username" data-sortable="true" data-width-unit="%" data-width="25">
                    Tên Quận
                  </th>
                  <th data-align="center" data-field="position" data-sortable="true" data-width-unit="%" data-width="15">
                    Số Phường
                  </th>
                  <th data-align="center" data-field="district" data-sortable="true" data-width-unit="%" data-width="15">
                    Số điểm đặt
                  </th>
                  <th data-align="center" data-field="ward" data-sortable="true" data-width-unit="%" data-width="15">
                    Số bảng quảng cáo
                  </th>
                  <th data-align="center" data-field="actions">
                    Hành động
                  </th>
                </tr>
              </thead>
              <tbody>
                <% tableData.forEach(district=> { %>
                <tr>
                  <td>
                    <%= district.districtID %>
                  </td>
                  <td>
                    <%= district.districtName %>
                  </td>
                  <td>
                    <%= district.cntWard %>
                  </td>
                  <td>
                    <%= district.cntSpot %>
                  </td>
                  <td>
                    <%= district.cntBoard %>
                  </td>
                  <td>
                    <div class="d-flex flex-row align-items-center justify-content-center action-icons bg-transparent">
                      <a href="javascript:" class="mx-3 bg-transparent">
                        <img class="editBtn" src="/images/edit.svg" alt="edit-icon" data-bs-district="<%=JSON.stringify(district) %>">
                      </a>
                      <a href="javascript:" class="mx-3 bg-transparent">
                        <img class="deleteBtn" src="/images/remove.svg" data-bs-district="<%=JSON.stringify(district) %>" alt="remove-icon">
                      </a>
                    </div>
                  </td>
                </tr>

                <% }); %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <!-- Modal editttttttttttttttttttttttttttttttttttttttttttttttttttt -->
    <div class="modal fade" id="editModal" tabindex="-1" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header pb-0 border-0 position-relative text-center justify-content-center">
            <button type="button" class="btn-close position-absolute top-0 end-0 mt-2 me-2 bg-light shadow-sm border rounded-pill" data-bs-dismiss="modal" aria-label="Close"></button>
            <h5 class="modal-title pb-2 fs-4 fw-semibold text-center text-uppercase">Sửa Tên Quận</h5>
          </div>
          <div class="modal-body pt-1 pb-2 border-0">
            <form>
              <div class="mb-3">
                <label for="dID" class="col-form-label mb-1">
                  Mã Quận (<span class="text-danger">*</span>)
                </label>
                <input type="text" class="form-control" id="districtID" name="districtID" placeholder="Mã quận" required="required">
              </div>
              <div class="mb-3">
                <label for="districtName" class="col-form-label mb-1">
                  Tên Quận (<span class="text-danger">*</span>)
                </label>
                <input type="text" class="form-control" id="districtName" name="districtName" placeholder="Tên quận" required="required">
              </div>
              <div class="d-flex justify-content-around">
                <button class="btn" style="min-width: 6.5rem; background-color: #e84747; color: #f7fafc;" data-bs-dismiss="modal" type="button">
                  Hủy
                </button>
                <button id="updateDistrictBtn" type="button" class="btn" style="min-width: 6.5rem; background-color: #3c77ff; color: #f7fafc">
                  Xác nhận
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div id="alertConfirm" class="position-fixed top-0 start-50 translate-middle-x" style="width: fit-content; transform: translateX(-50%); z-index: 1050;"></div>

    <script>
      var alertList = document.querySelectorAll(".alert");
      alertList.forEach(function(alert) {
        new bootstrap.Alert(alert);
      });
    </script>

  </main>
  <!-- Modal add -->
  <script defer type="module">
    import createModal from '/js/modal.js';

    const options = {
      id: 'addModal-qlquan',
      title: 'Tạo Quận mới',
      form: {
        id: 'addModal-dis',
        method: 'POST',
        action: JSON.parse('<%- JSON.stringify(url) %>'),
        components: [{
            id: 'districtID',
            label: 'Mã Quận',
            required: true,
            type: 'input',
            inputType: 'text',
            placeholder: 'Mã quận'
          },
          {
            id: 'districtName',
            label: 'Tên Quận',
            required: true,
            type: 'input',
            inputType: 'text',
            placeholder: 'Tên quận'
          },
        ],
        buttons: [{
            type: 'button',
            label: 'Hủy',
            color: '#e84747',
            dismiss: true
          },
          {
            type: 'submit',
            label: 'Xác nhận',
            color: '#3c77ff',
            dismiss: true
          },
        ],
      }
    }
    createModal(options);
  </script>

  <script defer type="module">
    import {
      ezBSAlert
    } from '/js/customizedModal.js';

    document.addEventListener('fetchEnd', () => {
      location.reload();
    });

    const alertPlaceholder = document.getElementById('alertConfirm')
    const appendAlert = (message, type) => {
      const wrapper = document.createElement('div')
      wrapper.innerHTML = [
        `<div class="alert alert-${type} alert-dismissible" role="alert">`,
        `   <div>${message}</div>`,
        '   <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>',
        '</div>'
      ].join('')

      alertPlaceholder.append(wrapper)
    }

    const deleteDistrict = async (district) => {
      if (district.cntWard > 0 || district.cntSpot > 0 || district.cntBoard > 0)
        appendAlert('KHÔNG THỂ XÓA QUẬN. Vì quận này có tồn tại Phường / Điểm đặt / Bảng quảng cáo', 'danger');
      else {
        try {
          const response = await fetch(`/so/locations/${district.districtID}`, {
            method: 'DELETE',
            headers: {
              'Content-Type': 'application/json',
            },
          });

          if (!response.ok) {
            throw new Error(`Failed to delete district: ${response.status}`);
          }

          console.log('District deleted!');
          appendAlert('Cập nhật thành công', 'success');
        } catch (error) {
          console.error('Error during DELETE request:', error.message);
          appendAlert('Cập nhật thất bại', 'danger');
        }
      }
    }

    const confirmDelete = async (e) => {
      const district = JSON.parse(e.target.dataset.bsDistrict);
      ezBSAlert({
        type: "confirm",
        messageText: "Bạn có chắc muốn xóa quận này?",
        alertType: 'danger',
      }).done(function(e) {
        if (e) {
          deleteDistrict(district);
        }
      });
    }

    const showEditModal = async (e) => {
      const district = JSON.parse(e.target.dataset.bsDistrict);
      // console.log(district.districtID);
      // console.log(district.districtName);
      const modal = document.getElementById('editModal');
      const districtIDInput = document.getElementById('districtID');
      const districtNameInput = document.getElementById('districtName');

      districtIDInput.value = district.districtID;
      districtIDInput.setAttribute("disabled", "");

      districtNameInput.value = district.districtName.split(" ").slice(1).join(" ");

      const modalInstance = new bootstrap.Modal(modal);
      modalInstance.show($('main'));
    }

    const updateDistrict = async (e) => {
      e.preventDefault();
      const districtID = document.getElementById('districtID').value;
      const districtName = document.getElementById('districtName').value;

      const dataToUpdate = {
        districtName: districtName,
      };

      const success = false;

      try {
        const response = fetch(`/so/locations/${districtID}`, {
          method: 'PATCH',
          mode: 'same-origin',
          body: JSON.stringify(dataToUpdate)
        });

        if (!response.ok) {
          throw new Error(`Failed to update user: ${response.status}`);
        }
        console.log('User updated!')
        // Handle success, if needed
        const modal = document.getElementById('editModal');
        const modalInstance = bootstrap.Modal.getInstance(modal);
        modalInstance.hide();
        appendAlert('Cập nhật thành công', 'success');
      } catch (error) {
        console.error(`Error updating user: ${error.message}`);
        appendAlert('Cập nhật thất bại', 'danger');
      }
    }


    $('#table').on('click', '.editBtn', showEditModal);
    $('#table').on('click', '.deleteBtn', confirmDelete);
    $('#updateDistrictBtn').on('click', updateDistrict);
  </script>
</body>

</html>
