<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title><%- title %></title>
    <%- include("../partials/head.ejs"); %>
</head>

<body>
<header></header>
<main class="container-fluid d-flex bg-light">
    <div class="row"><%- include("../partials/sidebar.ejs", {toolbars: toolbars}); %></div>
    <div class="container-fluid vw-100 pt-1">
        <div class="container border border-dark rounded py-4 px-5 my-5 mx-auto shadow position-relative">
            <!-- Profile -->
            <%- include("../partials/profile_card.ejs"); %>
            <!-- Title -->
            <div class="d-block">
                <h1 class="fw-bolder">DANH SÁCH CÁC PHƯỜNG</h1>
            </div>
            <!-- Select -->
            <div class="container-fluid mt-3 ps-0">
                <div class="d-flex flex-row align-items-center gap-2" style="position: relative">
                    <div class="d-flex flex-row align-items-center gap-2" style="position: relative">
                        <%- include("../partials/info_card.ejs", {title: 'Tổng số phường' , value: NoWards ,
                        color: '#ae57ff' }); %>
                        <%- include("../partials/info_card.ejs", {title: 'Tổng số điểm quảng cáo' , value: NoSpots ,
                        color: '#00B285' }); %>
                        <%- include("../partials/info_card.ejs", {title: 'Tổng số bảng quảng cáo' , value: NoBoards ,
                        color: '#D59633' }); %>
                    </div>
                </div>
            </div>
            <!-- Content -->
            <div class="container-listbar d-flex flex-row" style="gap: 15px">
                <!-- Left Bar -->
                <div class="d-inline-block list-bar">
                    <div class="title py-2">QUẬN / HUYỆN</div>
                    <!-- Search Bar -->
                    <div class="searchBar">
                        <div class="search">
                            <label>
                                <input type="text" name="searchInfo" class="searchFill" placeholder="Search a District"
                                       style="background: transparent;"/>
                            </label>
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </div>
                    </div>
                    <!-- List Ward -->
                    <div class="list-district scroll">
                        <% districts.forEach(district => { %>
                            <a href="/so/locations-detail?quan=<%=district.districtID%>" style="text-decoration: none">
                                <div class="district-box d-flex <% if (district.districtID === districtID) {%>active<% } %>" >
                                    <span style="margin: 0 auto; background-color: rgba(255, 255, 255, 0)">Quận <%=district.districtName%></span>
                                    <i class="fa-solid fa-chevron-right fa-2xs"></i>
                                </div>
                            </a>
                        <% });%>
                    </div>
                    <a href="/so/locations" style="font-size: 14px">Xem chi tiết danh sách QUẬN</a>
                </div>
                <!-- Table -->
                <div class="container-fluid d-inline-block ps-0" style="width: 80%;  padding: 0;  margin: 0;">
                    <table data-toggle="table"
                           data-search="true"
                           data-pagination="true"
                           data-page-list="[10, 25, 50, 100, all]"
                           data-locale="vi-VN"
                           data-buttons-class="primary"
                           data-buttons="buttons"
                           data-show-button-text="true"
                           data-icon-prefix="bi"
                           class="table table-bordered table-hover table-striped table-responsive-md rounded"
                           smart-display>
                        <thead>
                        <tr class="row m-0">
                            <th class="col" data-sortable="true" data-align="center" data-field="id">Mã Phường</th>
                            <th class="col" data-sortable="true" data-align="center" data-field="name">Tên Phường</th>
                            <th class="col" data-sortable="true" data-align="center" data-field="num2">Số điểm đặt</th>
                            <th class="col" data-sortable="true" data-align="center" data-field="num3">Số bảng quảng
                                cáo
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <% wards.forEach(ward => { %>
                        <tr class="row m-0">
                            <td><%= ward.wardID %></td>
                            <td>Phường <%= ward.wardName %></td>
                            <td><%= ward.spotsCount %></td>
                            <td><%= ward.boardsCount %></td>
                        </tr>
                        <% }); %>
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- Modal add -->
            <%- include('../partials/modal.ejs', {
            modal_id: 'addModal-qlphuong',
            title: 'THÊM PHƯỜNG MỚI',
            components: [
            { id: 'tenphuong', label: 'Phường', required: true, type: 'text' },
            ],
            buttons: [
            { label: 'Thêm', color: '#3c77ff', dismiss: false },
            ],
            }) %>
            <!-- Modal edit -->
            <%- include('../partials/modal.ejs', {
            modal_id: 'editModal-qlquan',
            title: 'CHỈNH SỬA THÔNG TIN PHƯỜNG',
            components: [
            { id: 'maphuong', label: 'Mã Phường', required: true, type: 'text', disabled: true, value: 'P001' },
            { id: 'tenphuong', label: 'Tên Phường', required: true, type: 'text' },
            ],
            buttons: [
            { label: 'Thêm', color: '#3c77ff', dismiss: false },
            ],
            }) %>
        </div>
    </div>
</main>
<script defer type="text/javascript" src="/js/QLPhuong.js"></script>
</body>


</html>
