<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title><%- title %></title>
    <%- include("../partials/head.ejs"); %>
</head>
<body>
<main class="container-fluid d-flex bg-light">
    <div class="row"><%- include("../partials/sidebar.ejs", {toolbars: toolbars}); %></div>
    <div class="container-fluid vw-100 pt-1">
        <div class="container border border-dark rounded py-4 px-5 my-5 mx-auto shadow position-relative">
            <!-- Profile -->
            <%- include("../partials/profile_card.ejs"); %>
            <!-- Title -->
            <div class="d-block">
                <h1 class="fw-bolder">THỐNG KÊ BÁO CÁO</h1>
            </div>
            <!-- Statistic -->
            <div class="container-fluid mt-3 ps-0">
                <div class="d-flex flex-row align-items-center gap-2" style="position: relative">
                    <div class="d-flex flex-row align-items-center gap-2" style="position: relative">
                        <%- include("../partials/info_card.ejs", {title: 'Điểm có báo cáo nhiều nhất' , value: statisticalData.spotMaxId,
                        color: '#00b285' }); %>
                        <%- include("../partials/info_card.ejs", {title: 'Bảng có báo cáo nhiều nhất' , value: statisticalData.boardMaxId,
                        color: '#d59633' }); %>
                        <%- include("../partials/info_card.ejs", {title: 'Quận có báo cáo nhiều nhất' , value: statisticalData.districtMaxId,
                        color: '#e84747' }); %>
                    </div>
                </div>
            </div>
            <!-- Table -->
            <% const [basePath, category] = url.split('?'); %>
            <%- include('../partials/table.ejs', {linkDetails: {basePath: basePath, category: category}}) %>
        </div>
    </div>
</main>
</body>

</html>
