<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title><%- title %></title>
    <%- include("../partials/head.ejs"); %>
</head>

<body>
<main class="container-fluid d-flex bg-light">
    <div class="row"><%- include("../partials/sidebar.ejs", {toolbars: toolbars}); %></div>
    <div class="container-fluid vw-100 pt-1">
        <div class="container border border-dark rounded py-4 px-5 my-5 mx-auto shadow position-relative">
            <!-- Profile -->
            <%- include("../partials/profile_card.ejs", {user: {name: 'Admin', level: 'Sở VH-TT'}}); %>
            <!-- Title -->
            <div class="d-block">
                <h1 class="fw-bolder text-uppercase"><%= title %> </h1>
            </div>
            <!-- Select -->
            <div class="container-fluid mt-3 ps-0">
                <div class="d-flex flex-row align-items-center gap-2 position-relative">
                    <%- include("../partials/select.ejs",
                    {current: 0,
                    options: [
                    { name: 'Yêu cầu cấp phép' , link: '/so/requests?category=license' },
                    { name: 'Yêu cầu chỉnh sửa' , link: '/so/requests?category=modify' }, ]}); %>
                    <%- include("../partials/info_card.ejs", {title: 'Đã duyệt' , value: '112,983 đơn' , color: '#00b285' }); %>
                    <%- include("../partials/info_card.ejs", {title: 'Chờ duyệt' , value: '112,983 đơn' , color: '#d59633'}); %>
                    <%- include("../partials/info_card.ejs", {title: 'Từ chối' , value: '112,983 đơn' , color: '#e84747' }); %>
                </div>
            </div>
            <!-- Table -->
            <%- include('../partials/table.ejs')%>
        </div>
    </div>
</main>
</body>

</html>
