<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title><%= title %></title>
    <%- include("../partials/head.ejs"); %>
</head>
<body>
<header></header>
<main class="container-fluid d-flex bg-light" style="min-height: 100vh;">
    <div class="row"><%- include("../partials/sidebar.ejs", {toolbars: toolbars}); %></div>
    <div class="container-fluid vw-100 pt-1">
        <% if (typeof message !== undefined) {%>
            <% if (message.success) {%>
                <div class="alert alert-success alert-dismissible position-absolute top-0 start-50"
                     role="alert">
                    <strong>Thành công!</strong>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>

                </div>
            <% } else if (message.error) {%>
                <div class="alert alert-danger alert-dismissible position-absolute top-0 start-50"
                     role="alert">
                    <strong>Thất bại!</strong> <%= message.error %>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            <% } %>
        <% } %>
        <div class="container border border-dark rounded py-4 px-5 my-5 mx-auto shadow position-relative">
            <!-- Profile -->
            <%- include("../partials/profile_card.ejs"); %>
            <!-- Title -->
            <div class="d-block">
                <h2 class="fw-bolder text-uppercase"><%= title %></h2>
            </div>
            <!-- Select -->
            <div class="container-fluid mt-3 ps-0">
                <div class="d-flex flex-row align-items-center gap-2" style="position: relative">
                    <% let current = 0; %>
                    <% if (title.includes("báo cáo")) {
                        current = 1;
                    } %>
                    <%- include("../partials/select.ejs", {current: current, options: [
                    { name: 'Loại hình quảng cáo', link: '/so/types?category=ads'},
                    { name: 'Hình thức báo cáo', link: '/so/types?category=report' },
                    ]}); %>

                    <%- include("../partials/info_card.ejs", {title: 'Mới nhất', value: 'A', color: '#00b285'}); %>
                    <%- include("../partials/info_card.ejs", {title: 'Yêu cầu mới nhất', value: 'B', color: '#d59633'}); %>
                </div>
            </div>
            <!-- Table -->
            <% const [basePath, category] = url.split('?');
            const components = [
                {id: 'typeID', label: 'Mã loại', required: true, type: 'text', disabled: true},
                {id: 'type', label: 'Loại', required: true, type: 'text'},
                {id: 'desc', label: 'Mô tả', required: true, type: 'textarea'}
            ];
            const buttons = [
                {label: 'Hủy', color: '#e84747', dismiss: true, type: 'button'},
                {label: 'Xác nhận', color: '#3c77ff', dismiss: true, type: 'submit'}
            ];
            %>
            <%- include('../partials/table.ejs', {
            add_button: true,
            linkDetails: {basePath: basePath, category: category.split('=')[1]},
            edit_modal: {
                title: 'CHỈNH SỬA',
                components: components,
                buttons: buttons,
            }
            }); %>
            <script defer type="module">
              import createModal from '/js/modal.js';
              const components = [
                {
                  id: 'typeID',
                  label: 'Mã loại',
                  required: true,
                  type: 'input',
                  inputType: 'text',
                  disabled: true
                },
                {
                  id: 'type',
                  label: 'Loại',
                  required: true,
                  type: 'input',
                  inputType: 'text',
                  placeholder: 'Loại hình'
                },
                {id: 'desc', label: 'Mô tả', required: true, type: 'textarea', rows: 3, placeholder: 'Mô tả'}
              ];
              const buttons = [
                {label: 'Hủy', color: '#e84747', dismiss: true, type: 'button'},
                {label: 'Xác nhận', color: '#3c77ff', dismiss: true, type: 'submit'}
              ];
              const len = JSON.parse('<%- JSON.stringify(tableData.length) %>');
              const dataID = JSON.parse('<%- JSON.stringify(tableData.map(item => item.id)) %>');
              const url = JSON.parse('<%- JSON.stringify(url) %>');
              const [basePath, category] = url.split('?');

              for (let i = 0; i < len; i++) {
                components[0].value = dataID[i];
                const editModal = {
                  id: `editModal-${i}`,
                  title: 'CHỈNH SỬA',
                  form: {
                    id: `editForm-${i}`,
                    method: 'POST',
                    components: components,
                    buttons: buttons,
                    action: `${basePath}/${dataID[i]}?category=${category.split('=')[1]}`
                  }
                }
                createModal(editModal);
              }</script>

        </div>
    </div>
</main>
<!-- Modal add -->
<script defer type="module">
	import createModal from '/js/modal.js';

	const options = {
		id: 'addModal-lhqc',
		title: 'THÊM MỚI',
		form: {
			id: 'addForm-lhqc',
			method: 'POST',
			action: JSON.parse('<%- JSON.stringify(url) %>'),
			components: [
				{
					id: 'type',
					label: 'Loại',
					required: true,
					type: 'input',
					inputType: 'text',
					placeholder: 'Loại hình mới'
				},
				{id: 'desc', label: 'Mô tả', required: true, type: 'textarea', rows: 3, placeholder: 'Mô tả'},
			],
			buttons: [
				{type: 'button', label: 'Hủy', color: '#e84747', dismiss: true},
				{type: 'submit', label: 'Xác nhận', color: '#3c77ff', dismiss: true},
			],
		}
	}
	createModal(options);
</script>
</body>

</html>
