<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title><%- title %></title>
    <%- include("../partials/head.ejs"); %>
</head>

<body>
<main class="container-fluid d-flex bg-light">
    <div class="row"><%- include("../partials/sidebar.ejs", {toolbars: toolbars}); %></div>
    <div class="container-fluid vw-100 pt-1">
        <div class="container border border-dark rounded py-4 px-5 my-5 mx-auto shadow position-relative">
            <!-- Profile -->
            <%- include("../partials/profile_card.ejs", {user: {name: 'Admin', level: 'Sở VH-TT'}}); %>
            <!-- Title -->
            <div class="d-block">
                <h1 class="fw-bolder text-uppercase">QUẢN LÝ YÊU CẦU CẤP PHÉP</h1>
            </div>
            <!-- Select -->
            <div class="container-fluid mt-3 ps-0">
                <div class="d-flex flex-row align-items-center gap-2 position-relative">
                    <%- include("../partials/select.ejs", {current: 'Yêu cầu cấp phép' , options: [ { name: 'Yêu cầu cấp phép' , link: '/so/yeucau/cp' }, { name: 'Yêu cầu chỉnh sửa' , link: '/so/yeucau/cs' }, ]}); %>
                    <%- include("../partials/info_card.ejs", {title: 'Đã duyệt' , value: '112,983 đơn' , color: '#00b285' }); %>
                    <%- include("../partials/info_card.ejs", {title: 'Chờ duyệt' , value: '112,983 đơn' , color: '#d59633'}); %>
                    <%- include("../partials/info_card.ejs", {title: 'Từ chối' , value: '112,983 đơn' , color: '#e84747' }); %>
                </div>
            </div>
            <!-- Table -->
            <table data-toggle="table" data-search="true" data-pagination="true"
                   data-page-list="[10, 25, 50, 100, all]" data-locale="vi-VN" data-buttons-class="primary"
                   data-show-button-text="true" data-icon-prefix="bi"
                   class="table table-bordered table-hover table-striped table-responsive-md rounded" smart-display>
                <thead>
                <tr>
                    <th data-sortable="true" data-align="center" data-field="id1">ID Yêu cầu</th>
                    <th data-sortable="true" data-align="center" data-field="id2">ID Điểm đặt</th>
                    <th data-sortable="true" data-field="type">Phường</th>
                    <th data-sortable="true" data-align="center" data-field="name">Quận</th>
                    <th data-sortable="true" data-align="center" data-field="email">Cán bộ</th>
                    <th data-sortable="true" data-align="center" data-field="date">Thời gian quảng cáo</th>
                    <th data-sortable="true" data-align="center" data-field="action">Trạng thái</th>
                    <th data-sortable="true" data-align="center" data-field="detail">Hành động</th>
                </tr>
                </thead>
                <tbody>
                <% let maLoai = "BC015500" %>
                <% for (let i = 1; i <= 55; i++) { %>
                    <tr>
                        <!-- <td><%= i %></td> -->
                        <td><%= maLoai + i %></td>
                        <td>D0614003</td>
                        <td>Bến Nghé</td>
                        <td>6</td>
                        <td>Trần Gia Thịnh</td>
                        <td>10/02/2023 - 15/05/2023</td>
                        <td>Đã duyệt</td>
                        <td>
                            <div class="d-flex flex-row align-items-center justify-content-center">
                                <a href=<%= "/so/yeucau/" + maLoai + i %> class="mx-3">
                                    <img src="/images/info.svg" alt="edit-icon" style="background-color: transparent"/>
                                </a>
                                <a href="#" class="mx-3">
                                    <img src="/images/remove.svg" alt="edit-icon" style="background-color: transparent"/>
                                </a>
                            </div>
                        </td>
                    </tr>
                <% } %>
                </tbody>
            </table>
        </div>
    </div>
</main>
</body>

</html>
