<!DOCTYPE html>
<html lang="vi">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%- title %></title>
    <%- include("../partials/head.ejs"); %>
    <link rel="stylesheet" href="/css/carousel.css" />
  </head>

  <body>
    <% const toolbars=[ 
    { icon: 'bi bi-house-door-fill' , name: 'Trang chủ' , link:'/quan', }, 
    { icon: 'bi bi-geo-fill', name: 'Điểm đặt quảng cáo' , link: '/quan/diemdat' }, 
    { icon: 'bi bi-badge-ad-fill', name: 'Bảng quảng cáo' , link: '/quan/bangquangcao' },
    { icon: 'bi bi-file-earmark-text-fill' ,name: 'Báo cáo vi phạm' , link: '/quan/baocao' }, 
    { icon: 'bi bi-chat-left-dots-fill' , name: 'Yêu cầu cấp phép' ,link: '/quan/yeucau/cp' , }, 
    ] %>
    <header></header>
    <main class="container-fluid d-flex bg-light">
      <div class="row"><%- include("../partials/sidebar.ejs", {toolbars: toolbars}); %></div>
      <div class="container-fluid vw-100 pt-1">
        <div class="container border border-dark rounded py-4 px-5 my-5 mx-auto shadow position-relative">
          <!-- Profile -->
          <%- include("../partials/profile_card.ejs", {user: {name: 'Admin' , level: 'Sở VH-TT' }}); %>
          <!-- Back button -->
          <%- include("../partials/back_button.ejs"); %>
          <!-- Title -->
          <div class="d-flex flex-row align-items-center" style="gap: 10px">
            <h1 class="fw-bolder m-0">ĐỒNG KHỞI - NGUYỄN DU, SỞ VĂN HÓA VÀ THỂ THAO</h1>
          </div>

          <!-- Content -->
          <div class="container-fluid nd-chi-tiet px-0 d-flex flex-row justify-content-between mt-4" style="gap: 1rem;">
            <div class="container-fluid px-0">
              <div class="row">
                <img id="mainImage" src="https://placeholder.pics/svg/600x400/DEDEDE/555555/Image%201" alt="Current Image">
              </div>
              <div class="row mx-auto my-auto justify-content-center mt-2">
                <div id="recipeCarousel" class="carousel slide px-0" data-bs-ride="carousel">
                  <div class="carousel-inner pt-2" role="listbox">
                    <div class="carousel-item active">
                      <div class="col-lg-4 col-md-6 me-3">
                        <div class="card position-relative">
                          <div class="card-img">
                            <img src="https://placeholder.pics/svg/600x400/DEDEDE/555555/Image%201" class="img-fluid" />
                          </div>
                        </div>
                        <a class="top-0 start-100 position-absolute translate-middle" href="#"><img src="/images/remove_sign.svg" alt=""></a>
                      </div>
                    </div>
                    <div class="carousel-item">
                      <div class="col-lg-4 col-md-6 me-3">
                        <div class="card position-relative">
                          <div class="card-img">
                            <img src="https://placeholder.pics/svg/600x400/DEDEDE/555555/Image%202" class="img-fluid" />
                          </div>
                        </div>
                        <a class="top-0 start-100 position-absolute translate-middle" href="#"><img src="/images/remove_sign.svg" alt=""></a>
                      </div>
                    </div>
                    <div class="carousel-item">
                      <div class="col-lg-4 col-md-6 me-3">
                        <div class="card position-relative">
                          <div class="card-img">
                            <img src="https://placeholder.pics/svg/600x400/DEDEDE/555555/Image%203" class="img-fluid" />
                          </div>
                          <a class="top-0 start-100 position-absolute translate-middle" href="#"><img src="/images/remove_sign.svg" alt=""></a>
                        </div>
                      </div>
                    </div>
                    <div class="carousel-item">
                      <div class="col-lg-4 col-md-6 me-3">
                        <div class="card position-relative">
                          <div class="card-img">
                            <img src="https://placeholder.pics/svg/600x400/DEDEDE/555555/Image%204" class="img-fluid" />
                          </div>
                          <a class="top-0 start-100 position-absolute translate-middle" href="#"><img src="/images/remove_sign.svg" alt=""></a>
                        </div>
                      </div>
                    </div>
                    <div class="carousel-item">
                      <div class="col-lg-4 col-md-6 me-3">
                        <div class="card position-relative">
                          <div class="card-img">
                            <img src="https://placeholder.pics/svg/600x400/DEDEDE/555555/Image%205" class="img-fluid" />
                          </div>
                          <a class="top-0 start-100 position-absolute translate-middle" href="#"><img src="/images/remove_sign.svg" alt=""></a>
                        </div>
                      </div>
                    </div>
                    <div class="carousel-item">
                      <div class="col-lg-4 col-md-6 me-3">
                        <div class="card position-relative">
                          <div class="card-img">
                            <img src="https://placeholder.pics/svg/600x400/DEDEDE/555555/Image%206" class="img-fluid" />
                          </div>
                        </div>
                        <a class="top-0 start-100 position-absolute translate-middle" href="#"><img src="/images/remove_sign.svg" alt=""></a>
                      </div>
                    </div>
                  </div>
                  <a class="carousel-control-prev bg-transparent w-aut" href="#recipeCarousel" role="button" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  </a>
                  <a class="carousel-control-next bg-transparent w-aut" href="#recipeCarousel" role="button" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  </a>
                </div>
              </div>
            </div>
            <div class="container-fluid px-0 nd-chi-tiet">
              <div class="container d-flex justify-content-between">
                <h4 style="font-weight: bold;">Chi tiết điểm đặt</h4>
                <a href="#"><img src="/images/cancel.svg" alt="edit-icon"></a>
              </div>
              <div class="container mt-4">
                <label for="id-diemdat" style="margin-bottom: 6px">ID Điểm đặt</label>
                <input type="text" class="form-control" id="id-diemdat" value="D0155001"  />
              </div>
              <div class="container mt-2">
                <label for="diachi" style="margin-bottom: 6px">Địa chỉ</label>
                <input type="text" class="form-control" id="diachi" value="227 Nguyễn Văn Cừ"  />
              </div>
              <div class="container mt-2 d-flex justify-content-between">
                <div style="width: calc((100% - 2rem) / 2);">
                  <label for="phuong" style="margin-bottom: 6px;">Phường</label> 
                  <input type="text" class="form-control" id="phuong" value="Bến Nghé"  />
                </div>
                <div style="width: calc((100% - 2rem) / 2);">
                  <label for="quan" style="margin-bottom: 6px">Quận</label>
                  <input type="text" class="form-control" id="quan" value="Bình Thạnh"  />
                </div>
              </div>
              <div class="container mt-2">
                <label for="loaivitri" style="margin-bottom: 6px">Loại vị trí</label>
                <input type="text" class="form-control" id="loaivitri" value="Đất công/Công viên/Hành lang an toàn giao thông"  />
              </div>
              <div class="container mt-2">
                <label for="htqc" style="margin-bottom: 6px">Hình thức quảng cáo</label>
                <input type="text" class="form-control" id="htqc" value="Quảng cáo thương mại"  />
              </div>
              <div class="container mt-2">
                <label for="ttqh" style="margin-bottom: 6px">Thông tin quy hoạch</label>
                <input type="text" class="form-control" id="ttqh" value="Đã quy hoạch"  />
              </div>
            </div>
          </div>
          <!-- Ly do chinh sua -->
          <div class="container-fluid px-0 mt-4 mb-2 nd-chi-tiet">
            <label for="lydo" style="margin-bottom: 6px">Lý do chỉnh sửa</label>
              <textarea class="form-control" id="lydo" 
                style="min-height: 170px">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis vitae dolore debitis soluta ipsa, esse molestias nisi inventore voluptatum non ex sint temporibus odit distinctio maiores repudiandae saepe, iste praesentium veritatis magni ipsum iusto facere? Nobis debitis maiores rerum est distinctio velit et obcaecati harum, qui provident voluptates, officiis laudantium quas! Ex labore excepturi velit eveniet incidunt expedita corrupti illum a, ullam nostrum ducimus, tenetur cumque facilis sapiente, iure magni maxime nihil eum voluptate atque assumenda? Enim quibusdam ratione, quisquam magni esse et placeat? Quasi porro fugit, expedita suscipit, nobis, numquam laboriosam ad nam earum quidem excepturi. Adipisci, ab sapiente?</textarea>
          </div>
          <!-- button -->
          <div class="d-flex flex-row align-items-center justify-content-end" style="gap: 20px; margin-top: 15px;">
            <a href="/quan/diemdat"><button type="button" class="btn btn-danger" style="width: 130px;">Hủy</button></a>
            <a href="/quan/diemdat"><button type="button" class="btn btn-success" style="width: 150px;">Gửi yêu cầu</button></a>
          </div>
        </div>

      </div>
    </main>

    <!-- Ads list -->

    
    <script defer type="text/javascript" src="/js/ChitietDiemDat.js"></script>
  </body>
</html>
